
<style>
@font-face {
    font-family: 'D2Coding';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.guideBox {margin-top:40px;}
.guideTitle {font-size:18px; font-weight:500;}
.guideCont {margin-top:10px;}
.gGroup {margin-top:20px;}
.gText {font-size:14px;}
.gView {padding:10px; border:1px solid #bbbbbb; background:#fff;}
</style>

<div class="cptPubGuide">
<div class="guideArea">

<!-- 가이드 그룹 -->
<div class="guideBox">
<div class="guideTitle">신청서 양식</div>
<div class="guideCont">
<div class="gText">
    각종 신청서 등에 사용할 때 사용합니다.
</div>
<div class="gGroup">
<div class="gView"></div>
<div class="gCode">
<pre><code class="xml" style="font-size:14px; letter-spacing:1.5px; font-family: 'D2Coding'"></code></pre>
<textarea class="codeGuide" style="display:none;">

        
<div class="cptAppliForm">
    <div class="formTitle">
        <h2>2024년 경주참가신청서</h2>
    </div>
    <div class="formCont">
        <p>서울올림픽기념 국민체육진흥공단에서 주선하는<br>
        2024년도 경륜에 아래와 같이 참가를 신청합니다.</p>
    </div>
    <div class="formBtm">
        <p>서울올림픽기념국민체육진흥공단<br>
        경주사업총괄본부 경주운영위원장 귀하</p>
    </div>

    <div class="comInTitle">
        <h4>참가 신청</h4>
    </div>

    <div class="comTable">
        <table>
            <caption></caption>
            <colgroup>
                <col style="width:260px;">
                <col style="width:auto;">
                <col style="width:260px;">
                <col style="width:auto;">
            </colgroup>
            <tbody>
                <tr>
                    <th>신청인</th>
                    <td>류선재</td>
                    <th>선수등록번호</th>
                    <td>285286543882</td>
                </tr>
                <tr>
                    <th>자전거 등록번호</th>
                    <td class="frm">
                        <div class="frmGroup">
                            <input type="text" class="iptText" placeholder="자전거 등록번호를 입력해주세요.">
                        </div>
                    </td>
                    <th>자전거 상표</th>
                    <td class="frm">
                        <div class="frmGroup">
                            <input type="text" class="iptText" placeholder="자전거 상표를 입력해주세요.">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="cptAppliForm">
    <div class="formTitle">
        <h2>2024년 경주참가통지서</h2>
    </div>
    <div class="formName">
        <p>선수 류선재 귀하</p>
    </div>
    <div class="formCont">
        <p>경륜경정사업본부에서 개최하는 2024년도 제20회 경륜에 귀하의 출전신청을 허가하오니<br>
            아래 사항을 유의하여 참가하시기 바랍니다.</p>
    </div>

    <div class="comTable">
        <table>
            <caption></caption>
            <colgroup>
                <col style="width:260px;">
                <col style="width:auto;">
            </colgroup>
            <tbody>
                <tr>
                    <th>집합장소</th>
                    <td class="left">광명돔경륜장 경륜선수지원팀. (02)2067-3721~6</td>
                </tr>
                <tr>
                    <th>집합일시</th>
                    <td class="left">2024.05.23 11:00까지</td>
                </tr>
                <tr>
                    <th>참가일</th>
                    <td class="left">2024.05.24 ~ 2024.05.26 (3일간)</td>
                </tr>
                <tr>
                    <th>휴대품</th>
                    <td class="left">참가통지서, 도장, 선수등록증 및 등록수첩</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="formDate">
        <p>2024년 05월 10일</p>
    </div>

    <div class="formBtm">
        <p>서울올림픽기념국민체육진흥공단<br>
        경주사업총괄본부 경주운영위원장 귀하</p>
    </div>
</div>




</textarea>
</div>
</div>
</div>
</div>
<!-- //가이드 그룹 -->

</div>
</div>

    
<script>
    run();
</script>
    
        