<!-- Header -->
<%- include('./_ejs/top.ejs', {
    title: "error 404",
    url: "../"
}) %>

<div class="cptError">
    <div class="errorArea">
        <dl class="errorBox error404">
            <dt class="errorTitle">
                <h1>원하시는 페이지를 찾지 못했습니다.</h1>
            </dt>
            <dd class="errorMsg">
                <p>
                    페이지가 존재하지 않거나, 사용할 수 없는 페이지입니다.<br>
                    입력하신 주소가 정확한지 다시 한번 확인해 주세요.
                </p>
            </dd>
        </dl>
        <div class="btnArea">
            <a href="#" class="btn gLine">이전 페이지</a>
            <a href="#" class="btn basic">메인으로 이동</a>
        </div>
        <div class="manager">
            <ul class="managerGroup">
                <li class="item">
                    <span class="tit">시스템 문의 : </span>
                    <span class="msg">정보지원팀</span>
                </li>
                <li class="item">
                    <span class="tit">연락처 : </span>
                    <span class="msg">02-2067-5536</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Bottom -->
<%- include('./_ejs/bottom.ejs', { }) %>