
/* -------------------------------- 서브 탑 타이틀 -------------------------------- */
.comH1Title{
    padding:0 20px; margin-bottom:73px;
    @include media('mobile'){margin-bottom:47px;}
    .titleArea{
        h1{
            color: #000; font-size: rem(58px); font-style: normal; font-weight: 600; line-height: normal;
            @include media('mobile'){font-size: rem(44px);}
        }
    }
}

/* -------------------------------- 작은 타이틀 (테이블 타이틀) -------------------------------- */
.comInTitle {
    margin-bottom:22px;
    h4 {
        padding-left:17px; color: #000; font-size: rem(15px); font-style: normal; font-weight: 600; line-height: normal; position:relative;
        &::before {content:""; width:7px; height:7px; border-radius:50%; background: #4D5DF2; display:block; position:absolute; left:0; top:5px;}
    }
}

/* -------------------------------- 정보상자 -------------------------------- */
.comInfoBox{
    width:100%; margin-bottom:60px; padding:35px 50px; border-radius: 12px; background: var(--gray-bg01);
    .infoList {
        .item{ 
            margin-top:4px; padding-left:18px; position:relative; color: #4d4d4d; font-size: rem(16px); font-style: normal; font-weight: 300; line-height: 1.5;
            &::before{content:""; width:4px; height:4px; border-radius:50%; background:#000; display:block; position:absolute; left:0; top:10px;}
            &:first-child {margin-top:0;}
            b{
                &.bold {font-weight:600;}
                &.c_blue {font-weight:600; color:var(--blue-txt01);}
            }
        }
    }
}

/* -------------------------------- 동영상 영역 -------------------------------- */
.comMovieView {
    .playerBox {
        position:relative;
        .playerBox {width:100%; height:100%; position:absolute; left:0; top:0; background:#000;}
    }
}
.comBtnInView {
    .btnArea {
        width:100%; margin-top:40px; margin-bottom:40px; display:flex; justify-content: flex-end; gap: 6px;
        .btn {
            width: 260px; height: 60px; padding: 0px 28px 0px 30px; text-align: center; font-size: rem(15px); font-style: normal; font-weight: 800; 
            border-radius: 12px; line-height: normal; justify-content: center; align-items: center;
            &.basic {
                color: var(--blue-txt01); border:4px solid #808CFC; background: var(--gray-bg01);
                &:disabled {mix-blend-mode: luminosity; opacity:0.4;}
            }
            &.complete {
                color: var(--blue-txt01); border:4px solid var(--gray-bg01); background: var(--gray-bg01);
            }
        }
    }
}

/* -------------------------------- 테이블 -------------------------------- */
.comTable {
    width:100%; margin-top: 20px;
    table {
        width:100%; border-spacing: 0; border-collapse: collapse; table-layout: fixed; border-top:1px solid #555;
        thead {
            th {
                height:60px; color: #000; font-size: rem(14px); font-weight: 600; text-align:center; line-height: 1.5; border-bottom:1px solid #eee; background:#F8F8FE;
                &.t_01 {}
                &.t_02 {background:#F1F3FB;}
            }
        }
        tbody {
            th {
                height:60px; color: #000; font-size: rem(14px); font-weight: 600; text-align:center; line-height: 1.5; border-bottom:1px solid #eee; background:#F8F8FE;
            }
            td {
                height:60px; padding:18px 0; color: #000; font-size: rem(16px); font-weight: 300; text-align:center; line-height: 1.5; border-bottom:1px solid #eee;
            }
            .frm {padding:5px 0;}
            .left {padding-left:40px; text-align:left;}
        }
        .iptSlt {height: 49px; padding-left:24px;}
    }
}

/* -------------------------------- 테이블,그리드,게시판 등의 상단 -------------------------------- */
.comGroupTop {
    width:100%; padding:0 20px; margin-bottom:20px; display:flex; justify-content: space-between;
    @include media('mobile'){flex-wrap: wrap-reverse;}
    .alignL{
        width:100%; display:flex; justify-content: flex-start; align-items: flex-end;
        @include media('mobile'){margin-top:20px;}
    }
    .alignR{
        width:100%; display:flex; justify-content: flex-end;
    }
    .unit{
        .text{
            color: rgba(0,0,0,0.5); font-size: rem(14px); font-style: normal; font-weight: 300; line-height: normal;
            .total{}
        }
    }
}

/* -------------------------------- 사이드 옵션 -------------------------------- */
.comSideOpt{
    display: flex; gap: 8px;
    @include media('mobile'){width:100%;}
    .sideItem{
        .frmSearch{
            position:relative;
            input{
                width: 300px; height: 40px; padding:0 17px; color: #000; text-align: left; font-size: rem(16px); font-style: normal; font-weight: 300; 
                line-height: normal; border:0; border-radius: 12px; background: var(--gray-bg01);
                &::placeholder {color:rgba(0,0,0,0.3);}
            }
            .btnSearch {
                width:20px; height:22px; font-size:0; background:url(../../images/common/ico_search.svg) center / 20px no-repeat; position:absolute; right:10px; top:9px;
            }
            @include media('mobile'){
                input{width:100%;}
            }
        }
        .iptSlt {
            width: 300px; height: 40px; padding:0 40px; color: #000; text-align: left; font-size: rem(16px); font-style: normal; font-weight: 300; 
            line-height: normal; border:0; border-radius: 12px; background: var(--gray-bg01) url(../../images/common/ic_side_slt.svg) right 20px center no-repeat;
        }
    }
}

/* -------------------------------- 테이블,그리드,게시판 등의 하단 -------------------------------- */
.comGroupBtm{
    width:100%; padding:0 20px; margin-top:20px; display:flex; justify-content: space-between;
    @include media('mobile'){margin-top:14px;}
    .alignL{
        width:100%; display:flex; justify-content: flex-start;
        .frmGroup {align-items: flex-start;}
    }
    .alignR{
        width:100%; display:flex; justify-content: flex-end;
    }
    .btn {
        width:max-content; min-width:90px; height:44px; margin-right:4px; padding:0 15px; font-size: rem(14px); font-weight: 600; border-radius:12px;
        display: flex; justify-content: center; align-items: center;
        @include media('mobile'){min-width:76px;}
        &:last-child {margin-right:0;}
        &.basic {
            color: #FFF; background: #4D5DF2;
            &:disabled {background:#BBC1F6;}
        }
        &.bGray {
            color: var(--blue-txt01); background: var(--gray-bg01);
        }
        &.oGray {
            color: #FF9900; background: var(--gray-bg01);
        }
    }
}

/* -------------------------------- 페이징 -------------------------------- */
.comPaging{
    width:100%; margin-top:26px; font-size:0; text-align:center;
    @include media('mobile'){padding:0 20px; margin-top:35px;}
    .start{
        width:40px; height:40px; font-size:0; vertical-align:top; border-radius:10px; 
        background:var(--gray-bg01) url(../../images/common/ic_paging_start.svg) center no-repeat; display:inline-block;
        @include media('mobile'){width: 30px; height: 30px; border-radius: 8px;}
    }
    .prev{
        width:40px; height:40px; margin-left:2px; font-size:0; vertical-align:top; border-radius:10px;  
        background:var(--gray-bg01) url(../../images/common/ic_paging_prev.svg) center no-repeat; display:inline-block;
        @include media('mobile'){width: 30px; height: 30px; border-radius: 8px;}
    }
    .next{
        width:40px; height:40px; margin-left:30px; font-size:0; vertical-align:top; border-radius:10px;  
        background:var(--gray-bg01) url(../../images/common/ic_paging_next.svg) center no-repeat; display:inline-block;
        @include media('mobile'){width: 30px; height: 30px; margin-left:10px; border-radius: 8px;}
    }
    .end{
        width:40px; height:40px; margin-left:2px; font-size:0; vertical-align:top; border-radius:10px;  
        background:var(--gray-bg01) url(../../images/common/ic_paging_end.svg) center no-repeat; display:inline-block;
        @include media('mobile'){width: 30px; height: 30px; border-radius: 8px;}
    }
    .numList{
        margin-left:30px; vertical-align:top; display:inline-block;
        > li{
            width:40px; height:40px; margin-left:3px; font-size:0; border-radius:10px; border:1px solid #EEF0F1; display:inline-block;
            &:first-child {margin-left:0;}
            a{width:100%; height:100%; color: #000; text-align: center; font-size: rem(14px); font-weight: 500; line-height: 38px; display:block;}
            &.on{
                a{color:#ff9900;}
            }
        }
        @include media('mobile'){
            margin-left:10px;
            > li{
                width:30px; height:30px; margin-left:2px; border-radius:8px;
                a{line-height:28px;}
            }
        }
    }
}

/* -------------------------------- 파일 업로드/다운로드 -------------------------------- */
.comFileList{
    width: 100%; margin-top: 20px;
    .fileGroup{
        width:100%; 
        .file{
            width: 100%; height: 66px; margin-top: 12px; border-radius: 12px; background: var(--gray-bg01);
            &:first-child {margin-top:0;}
            &.upload{

            }
            &.download{

            }
            dl{
                width:100%; height:100%; display: flex; 
                dt{
                    min-width: max-content; padding-left:52px; color: #000; font-size: rem(14px); font-style: normal; font-weight: 500; align-self: center;
                    @include media('mobile'){padding-left:20px; font-size: rem(12px);}
                }
                dd{
                    padding-left:49px; align-self: center; flex-grow: 1;
                    @include media('mobile'){padding-left:15px;}
                }
            }
            .fileName {
                width:100%; padding-right: 75px; color: #000; font-size: rem(16px); font-style: normal; font-weight: 300; line-height: 1.75; display:block; 
                background:url(../../images/common/ico_file_download.svg) right 40px center no-repeat;
            }
        }
    }
}

/* ------------------------------ 파일 박스 ------------------------------ */
.fileBox {
    width: 100%; position:relative;
    .fileBefore{
        .btn{
            width:70px; height:30px; color: var(--blue-txt01); text-align: center; font-size: rem(12px); font-style: normal; font-weight: 700; border-radius:15px; border: 1px solid #A2A9ED; 
            background: #FFF; display:flex; justify-content: center; align-items: center;
        }
    }
    .fileAfter {
        padding-right:18px; align-items: center; justify-content: space-between; display:none;
        .textBox {color: rgba(0,0,0,0.7); font-size: rem(16px); font-style: normal; font-weight: 300;}
        .fileDel {width:30px; height:30px; font-size:0; background:url(../../images/common/ico_file_del.svg) center no-repeat;}
        @include media('mobile'){
            padding-left:6px;
            .textBox {font-size: rem(15px);}
        }
    }
    &.on{
        .fileBefore {display:none;}
        .fileAfter {display:flex;}
    }
}
/*
.fileBox {position:relative;}
.fileBox .fileName {width:auto; height:30px; line-height:29px; font-size:14px; color:#000; border:0;}
.fileBox .fileDel {width:20px; height:20px; margin-left:5px; font-size:0; border:0; background:url(../images/icon/btn_del.svg) center no-repeat;}
.fileBox .fileDel2 {width:20px; height:20px; margin-left:5px; font-size:0; border:0; background:url(../images/icon/btn_del.svg) center no-repeat;}
.fileBox .fileAfter {align-items: center; display:none;}
.fileBox .fileAfter .limit200 {width:180px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.fileBox.on .fileBefore {display:none;}
.fileBox.on .fileAfter {display:flex;}
*/


/* -------------------------------- 이전글/다음글 -------------------------------- */
.comOtherPage{
    width:100%; max-width: 1340px; padding:0 20px; margin-top:84px;
    @include media('mobile'){margin-top:70px;}
    .otherGroup{
        width:100%; border-top:1px solid #eeeeee;
        .otherItem{
            width:100%; height:60px; border-bottom:1px solid #eeeeee; display:flex; 
            @include media('mobile'){height:auto; padding:20px 0 16px; display:block;}
            .otherTitle{
                width:150px; color: #000; text-align: center; font-size: rem(14px); font-style: normal; font-weight: 500; line-height: normal; align-self: center; flex-shrink: 0;
                @include media('mobile'){font-size: rem(12px);}
            } 
            .otherCont{
                flex-grow:1; align-self: center; @include line1();
                @include media('mobile'){margin-top:7px;}
                .link{
                    color: rgba(0,0,0,0.7); font-size: rem(16px); font-style: normal; font-weight: 300; line-height: 1.5;
                @include media('mobile'){font-size: rem(15px);}
                }
            }
            .otherDate{
                width:100px; color: #000; text-align: right; font-size: rem(14px); font-style: normal; font-weight: 300; line-height: normal; align-self: center; flex-shrink: 0;
                @include media('mobile'){font-size: rem(12px);}
            }
        }
    }
}


//기본 폼
input[type=text] {}
input[type=password] {}


.iptText { 
    width: 300px; height: 40px; padding: 0 17px; color: #000; text-align: left; font-size: 1rem; font-style: normal; font-weight: 300; line-height: normal; border: 0; 
    border-radius: 12px; background: var(--gray-bg01);
}
.iptSlt  { 
    width: 100%; height: 40px; padding: 0 40px; color: #000; text-align: left; font-size: 1rem; font-style: normal; font-weight: 300; line-height: normal; border: 0; 
    border-radius: 12px; background: var(--gray-bg01) url(../../images/common/ic_side_slt.svg) right 20px center no-repeat;
}


/* ------------------------------------------------ Form ------------------------------------------------ */
/* 크기 */
.frmGroup {margin-top:5px;}
.frmGroup:first-child {margin-top:0;}
html .frmTini {width:60px; min-width:60px;}
html .frmXs {width:100px; min-width:100px;}
html .frmSm {width:130px; min-width:130px;}
html .frmMd {width:170px; min-width:170px;}
html .frmLg {width:200px; min-width:200px;}
html .frmHalf {width:calc(50% - 3px); min-width:calc(50% - 3px);}
html .frmThrd {width:calc(33% - 3px); min-width:calc(33% - 3px);}
html .frmFrth {width:calc(25% - 3px); min-width:calc(25% - 3px);}
textArea.areaMd {height:150px;}

/* ------------------------------------------------ 라디오/체크박스 ------------------------------------------------ */
/* 일반 체크박스/라디오 박스 */
.frmChoBox {margin-right:20px; display:inline-block; position:relative;}
.frmChoBox .iptLbl {min-height:30px; margin-right:10px; padding-top:5px; padding-bottom:5px; word-break:keep-all;}
.frmChoBox .iptLbl:last-child {margin-right:0;}
.frmChoBox .iptChk + .iptLbl {padding-left:29px; font-size: rem(14px); font-weight:300; line-height:20px; color:#000; background:url(../../images/common/ic_chk_off.svg) left center no-repeat;}
.frmChoBox .iptChk:checked + .iptLbl {background:url(../../images/common/ic_chk_on.svg) left center no-repeat;}

.frmChoBox .iptChk:disabled + .iptLbl {color:#666; background:url(../../images/common/ic_chk_dis_off.svg) left center no-repeat;}
.frmChoBox .iptChk:disabled:checked + .iptLbl {background:url(../../images/common/ic_chk_dis_on.svg) left center no-repeat;}

.frmChoBox .iptRdo + .iptLbl {padding-left:29px; font-size: rem(14px); font-weight:300; line-height:20px; color:#000; background:url(../../images/common/ic_rdo_off.svg) left center no-repeat;}
.frmChoBox .iptRdo:checked + .iptLbl {background:url(../../images/common/ic_rdo_on.svg) left center no-repeat;}

.frmChoBox .iptRdo:disabled + .iptLbl {color:#666; background:url(../../images/common/ic_rdo_dis_off.svg) left center no-repeat;}
.frmChoBox .iptRdo:disabled:checked + .iptLbl {background:url(../../images/common/ic_rdo_dis_on.svg) left center no-repeat;}

.frmChoBox:last-child {margin-right:0;}

/* 체크박스/라디오 리스트 */
.frmChoList {width:100%; display:flex; flex-wrap:wrap;}
.frmChoList .frmChoBox {width:200px; margin-right:0;}
.frmChoList.w100 .frmChoBox {width:100px;}
.frmChoList.w150 .frmChoBox {width:150px;}
.frmChoList.w200 .frmChoBox {width:200px;}
.frmChoList.w250 .frmChoBox {width:250px;}
.frmChoList.w300 .frmChoBox {width:300px;}
.frmChoList.col6 .frmChoBox {width:50%;}
.frmChoList.col4 .frmChoBox {width:33.333%;}
.frmChoList.col3 .frmChoBox {width:25%;}
.frmChoList.col2 .frmChoBox {width:16.666%;}
.frmChoList.vertical {padding-top:5px;}
.frmChoList.vertical .frmChoBox {width:100%;}

/* 텍스트 없는 체크박스/라디오 */
.frmChoBox.only .iptChk + .iptLbl {height:30px; margin:0; padding-left:20px;}
.frmChoBox.only .iptRdo + .iptLbl {height:30px; margin:0; padding-left:20px;}

/*일반 체크 및 라디오 박스 여백 좁힘*/
.frmChoBox.type02 {margin-right:10px;}

/*일반 체크 및 라디오 박스 가로 퍼센트 비율*/
.frmChoBox.type03 {margin:0; width:13.9%;}

/* 버튼식 체크박스/라디오 박스 */
.frmChoBtn {display:flex;} 
.frmChoBtn .iptChk + .iptLbl {width:100px; height:30px; font-size: rem(14px); font-weight:300; text-align:center; color:#fff; line-height:26px; border-radius:3px; border:1px solid #444; background:#666;}
.frmChoBtn .iptChk:checked + .iptLbl {border:1px solid #2784ff; background:#319af6;}
.frmChoBtn .iptRdo + .iptLbl {width:100px; height:30px; font-size: rem(14px); font-weight:300; text-align:center; color:#fff; line-height:26px; border-radius:3px; border:1px solid #444; background:#666;}
.frmChoBtn .iptRdo:checked + .iptLbl {border:1px solid #2784ff; background:#319af6;}


/* ------------------------------ 한줄 안에 여러폼을 넣어야 할 경우 ------------------------------ */
.frmGroup {display:flex; align-items:center;}
.frmGroup .iptText, .frmGroup .iptSlt, .frmGroup .textBox {margin-left:5px;}
.frmGroup .textBox.clar {margin-top:0; margin-left:5px;}
.frmGroup.multiLine {flex-wrap: wrap;}

