
//반응형
@mixin media($breakpoint, $breakpoints:$breakpointText){
    @if map-has-key($breakpoints, $breakpoint){
        $breakpoint:map-get($breakpoints, $breakpoint);
    }

    @media screen and (max-width: #{$breakpoint}) {
        @content;
    }
}

//해당 버전 이상에서
@mixin minWidth($breakpoint, $breakpoints:$breakpointText){
    @if map-has-key($breakpoints, $breakpoint){
        $breakpoint:map-get($breakpoints, $breakpoint);
    }

    @media screen and (min-width: #{$breakpoint}) {
        @content;
    }
}


$breakpointText: (
    mobile:767px,
    tablet:1024px,
    pc:1340px,
    gnb:1420px,
);

//한줄 말줄임
@mixin line1() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//여러줄 말줄임


//rem공식
//$basicFontSize:16px; default.scss 최상단에 있음
$basicFontSize:16px;
@function rem($pixels, $base: $basicFontSize) {
    @return calc($pixels / $base)+rem;
}

//vw 공식
@function vw($pixels2, $base2) {
    @return calc($pixels2 * 100 / $base2)+vw;
}