<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "경정 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/gnb.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    subTitle: "판정결과 교육영상",
                    url: "../../",
                }) %>

                <!-- 그룹 상단 -->
                <div class="cptBoardView">
                    <div class="boardArea">
                        <div class="boardTop">
                            <h2 class="boardTitle">게시글 제목 사랑이 가득한 물까지 가족 여섯 식구 오월의 마지막 월요일을 산뜩하게 열어봅니다. 여섯 식구 오월의 마지막 월요일을 산뜩하게 열어봅니다.</h2>
                            <ul class="boardState">
                                <li class="item info">
                                    <span>경정경정촐괄본부</span>
                                    <span>6485</span>
                                    <span>0000-00-00</span>
                                </li>
                            </ul>
                        </div>
                        <div class="boardBody">

                            <div class="comInfoBox">
                                <ul class="infoList">
                                    <li class="item">
                                        동영상 시청 완료 후 반드시 [<b class="c_blue">동영상 시청완료</b>] 버튼을 클릭해주세요.</b>
                                        <br>(위반선수에게만 [동영상 시청완료] 버튼이 노출됩니다.)
                                    </li>
                                    <li class="item">시청버튼 미 클릭 시 시청완료 처리가 되지 않습니다.</li>
                                </ul>
                            </div>

                            <!-- 동영상 영역 -->
                            <div class="comMovieView">
                                <div class="playerBox" style="width:100%; padding-top:60%;"> <!-- player 비율 -->
                                    <div class="playerBox">
                                        <!-- 플레이어 영역 -->
                                    </div>
                                </div>
                            </div>

                            <div class="comBtnInView">
                                <div class="btnArea">
                                    <button class="btn basic" disabled>동영상 시청완료</button>
                                    <button class="btn basic">동영상 시청완료</button>
                                    <button class="btn complete">동영상 시청을 완료하였습니다.</button>
                                </div>
                            </div>

                            <div class="comInTitle">
                                <h4 class="">선수 판정결과</h4>
                            </div>

                            <div class="comTable sizeM">
                                <div class="tableArea">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:200px;">
                                            <col style="width:80px;">
                                            <col style="width:100px;">
                                            <col style="width:80px;">
                                            <col style="width:auto;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th class="t_01">위반선수</th>
                                                <th class="t_02">경주번호</th>
                                                <th class="t_01">적용조항</th>
                                                <th class="t_02">판정내용</th>
                                                <th class="t_01">판정결과</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>20기 홍길동 (12345678)</td>
                                                <td>1</td>
                                                <td>72조 4호</td>
                                                <td>경고</td>
                                                <td class="left">4 주회 4코너부근 스퍼트 후 거리차 발생</td>
                                            </tr>
                                            <tr>
                                                <td>20기 홍길동 (12345678)</td>
                                                <td>4</td>
                                                <td>72조 4호</td>
                                                <td>경고</td>
                                                <td class="left">5 주회 4코너부근 외선내진입, 4번 선수 지장 안쪽추월의혹야기</td>
                                            </tr>
                                            <tr>
                                                <td>20기 홍길동 (12345678)</td>
                                                <td>7</td>
                                                <td>72조 4호</td>
                                                <td>경고</td>
                                                <td class="left">5 주회 1코너부근 밀어누르기, 3번 낙차 및 5,7,2번 선수 지장 6,5번 상호복합5,7,2번 선수 지장 6,5번 상호복합</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="boardCont">
                                안녕하십니까 경정16기 정윤건입니다. 지난 글에 이어 두번째 글을 올립니다.
                                <br>
                                <br>올 2023년 한해도 각자 자리에서 모두 수고많으셨습니다. 
                                <br>다가오는 2024년을 맞이하면서 우리 경정선수들에게 보다 좋은 발전의길이 있으면 하는 뜻에서 글을 올립니다. 
                            </div>
                            <div class="comFileList">
                                <ul class="fileGroup">
                                    <li class="file download">
                                        <dl>
                                            <dt>첨부파일</dt>
                                            <dd><a href="#" class="fileName">위반 사진.jpg</a></dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 그룹하단 -->
                <div class="comGroupBtm">
                    <div class="alignR">
                        <button class="btn basic">목록</button>
                    </div>
                </div>

                <!-- 이전글/다음글 -->
                <div class="comOtherPage">
                    <ul class="otherGroup">
                        <li class="otherItem">
                            <b class="otherTitle">이전글</b>
                            <p class="otherCont"><a href="#" class="link">지난 광명 경주 진행 시 A선수와 B선수가 담합하는 것을 보았습니다. 지난 광명 경주 진행 시 A선수와 B선수가 담합하는 것을 보았습니다. 지난 광명 경주 진행 시 A선수와 B선수가 담합하는 것을 보았습니다. 지난 광명 경주 진행 시 A선수와 B선수가 담합하는 것을 보았습니다.</a></p>
                            <i class="otherDate">2004-05-20</i>
                        </li>
                        <li class="otherItem">
                            <b class="otherTitle">다음글</b>
                            <p class="otherCont"><a href="#" class="link">할머니 할아버지께서 들려주시는 재미있는 옛날이야기나 구연동화에 귀를 귀울여보신 적 있으신가요?</a></p>
                            <i class="otherDate">2004-05-20</i>
                        </li>
                    </ul>
                </div>

                <!-- 댓글 영역 -->
                <div class="cptComment">
                    <div class="cmtArea">
                        <div class="cmtTop">
                            <b class="cmtTitle">댓글</b>
                            <i class="number">1000건</i>
                        </div>
                        <div class="cmtBody">

                            <!-- 댓글 단위 -->
                            <div class="cmtUnit">
                                <b class="cmtName">공정불법대응센터</b>
                                <div class="cmtBox">
                                    <div class="cmtCont">
                                        <p class="cmtText">지난 광명 경주 진행 시 A선수와 B선수가 담합하는 것을 보았습니다.</p>
                                        <!-- <span class="cmtBtnBox">
                                            <button class="btn bGray">수정</button>
                                            <button class="btn oGray">삭제</button>
                                        </span> -->
                                        <i class="cmtDate">2004-05-20</i>
                                    </div>
                                </div>
                            </div>

                            <!-- 댓글 단위 -->
                            <div class="cmtUnit">
                                <b class="cmtName">홍길동</b>
                                <div class="cmtBox">
                                    <div class="cmtCont">
                                        <p class="cmtText">여러분은 어렸을 적 선생님이나 부모님,
                                            할머니 할아버지께서 들려주시는
                                            재미있는 옛날이야기나 구연동화에
                                            귀를 기울여보신 적 있으신가요?</p>
                                        <!-- <span class="cmtBtnBox">
                                            <button class="btn bGray">수정</button>
                                            <button class="btn oGray">삭제</button>
                                        </span> -->
                                        <i class="cmtDate">2004-05-20</i>
                                    </div>
                                </div>
                            </div>

                            <!-- 댓글 단위 -->
                            <div class="cmtUnit">
                                <b class="cmtName">소문난곱창맛집</b>
                                <div class="cmtBox">
                                    <div class="cmtCont">
                                        <p class="cmtText">할머니 할아버지께서 들려주시는 재미있는 옛날이야기나 구연동화에 귀를 귀울여보신 적 있으신가요? 할머니 할아버지께서 들려주시는 재미있는 옛날이야기나 구연동화에 귀를 귀울여보신 적 있으신가요? 할머니 할아버지께서 들려주시는 재미있는 옛날이야기나 구연동화에 귀를 귀울여보신 적 있으신가요? 할머니 할아버지께서 들려주시는 재미있는 옛날이야기나 구연동화에 귀를 귀울여보신 적 있으신가요? 할머니 할아버지께서 들려주시는 재미있는 옛날이야기나 구연동화에 귀를 귀울여보신 적 있으신가요?</p>
                                        <span class="cmtBtnBox">
                                            <button class="btn bGray">수정</button>
                                            <button class="btn oGray">삭제</button>
                                        </span>
                                        <i class="cmtDate">2004-05-20</i>
                                    </div>
                                </div>
                            </div>

                            <!-- 댓글 단위 -->
                            <div class="cmtUnit">
                                <b class="cmtName">소문난곱창맛집</b>
                                <div class="cmtBox">
                                    <div class="cmtCont">
                                        <p class="cmtText">할머니 할아버지께서 들려주시는 재미있는 옛날이야기나 구연동화에 귀를 귀울여보신 적 있으신가요?</p>
                                        <!-- <span class="cmtBtnBox">
                                            <button class="btn bGray">수정</button>
                                            <button class="btn oGray">삭제</button>
                                        </span> -->
                                        <i class="cmtDate">2004-05-20</i>
                                    </div>
                                    
                                    <!-- 댓글 입력 영역 (수정) -->
                                    <div class="cmtWriteBox">
                                        <div class="writeText">
                                            <textarea></textarea>
                                            <span class="byte">56/5000 byte</span>
                                        </div>
                                        <div class="writeBtm">
                                            <div class="btmL">
                                                <div class="frmGroup">
                                                    <div class="frmChoBox">
                                                        <input id="chk101" type="checkbox" class="iptChk"><label for="chk101" class="iptLbl">비밀댓글</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btmR">
                                                <button class="btn basic">취소</button>
                                                <button class="btn basic">댓글 등록</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- 댓글 입력 영역 -->
                            <div class="cmtWriteBox">
                                <div class="writeText">
                                    <textarea placeholder="댓글을 입력해주세요"></textarea>
                                    <span class="byte">56/5000 byte</span>
                                </div>
                                <div class="writeBtm">
                                    <div class="btmL">
                                        <div class="frmGroup">
                                            <div class="frmChoBox">
                                                <input id="chk101" type="checkbox" class="iptChk"><label for="chk101" class="iptLbl">비밀댓글</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btmR">
                                        <button class="btn basic">취소</button>
                                        <button class="btn basic" disabled>댓글 등록</button>
                                        <button class="btn basic">댓글 등록</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>