<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "경륜 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/gnb.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    subTitle: "공지사항",
                    url: "../../",
                }) %>

                <div class="comGroupTop">
                    <div class="alignL">
                        <div class="unit"><span class="text">전체 <span class="total">1000</span>건</span></div>
                    </div>
                    <div class="alignR">
                        <ul class="comSideOpt">
                            <li class="sideItem">
                                <div class="frmSearch">
                                    <input type="text" placeholder="검색어를 입력해주세요">
                                    <button class="btnSearch">검색</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cptBoardList">
                    <table>
                        <caption></caption>
                        <colgroup>
                            <col style="width:auto;">
                            <col style="width:110px;">
                            <col style="width:90px;">
                            <col style="width:110px;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#"><b>경륜 입소선수 공정교육 및 수시교육 결과 (1분기)공지</b></a> <!-- 상위공지 or 강조게시글은 <b>태그가 들어갑니다 -->
                                            <span class="icons">
                                                <span class="icon new">새로운 글</span>
                                                <span class="icon file">첨부파일</span>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>사업홍보팀</td>
                                <td>35125</td>
                                <td class="right">0000.00.00</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#"><b>2024년 경륜경정 도핑검사 주의사항 공지(재)</b></a> <!-- 상위공지 or 강조게시글은 <b>태그가 들어갑니다 -->
                                        </div>
                                    </div>
                                </td>
                                <td>경륜기획팀</td>
                                <td>35125</td>
                                <td class="right">0000.00.00</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">경륜선수와 함께하는 자전거 안전교실 재능기부 활동</a> <!-- 상위공지 or 강조게시글은 <b>태그가 들어갑니다 -->
                                            <span class="icons">
                                                <span class="icon file">첨부파일</span>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>공정팀</td>
                                <td>35125</td>
                                <td class="right">0000.00.00</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">(24.5.15.(수)) 광명스피돔 피스타 이용 제한 및 선수 개인 물품 회수요청</a> <!-- 상위공지 or 강조게시글은 <b>태그가 들어갑니다 -->
                                            <span class="icons">
                                                <span class="icon file">첨부파일</span>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>경륜선수지원팀</td>
                                <td>35125</td>
                                <td class="right">0000.00.00</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">(24.5.15.(수)) 광명스피돔 피스타 이용 제한 및 선수 개인 물품 회수요청 피스타 이용 제한 및 선수 개인 물품 회수요청 피스타 이용 제한 및 선수 개인 물품 회수요청</a> <!-- 상위공지 or 강조게시글은 <b>태그가 들어갑니다 -->
                                            <span class="icons">
                                                <span class="icon file">첨부파일</span>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>경륜선수지원팀</td>
                                <td>35125</td>
                                <td class="right">0000.00.00</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">(24.5.15.(수)) 광명스피돔 피스타 이용 제한 및 선수 개인 물품 회수요청</a> <!-- 상위공지 or 강조게시글은 <b>태그가 들어갑니다 -->
                                        </div>
                                    </div>
                                </td>
                                <td>경륜선수지원팀</td>
                                <td>35125</td>
                                <td class="right">0000.00.00</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">(24.5.15.(수)) 광명스피돔 피스타 이용 제한 및 선수 개인 물품 회수요청</a> <!-- 상위공지 or 강조게시글은 <b>태그가 들어갑니다 -->
                                        </div>
                                    </div>
                                </td>
                                <td>경륜선수지원팀</td>
                                <td>35125</td>
                                <td class="right">0000.00.00</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">(24.5.15.(수)) 광명스피돔 피스타 이용 제한 및 선수 개인 물품 회수요청</a> <!-- 상위공지 or 강조게시글은 <b>태그가 들어갑니다 -->
                                            <span class="icons">
                                                <span class="icon file">첨부파일</span>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>경륜선수지원팀</td>
                                <td>35125</td>
                                <td class="right">0000.00.00</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">(24.5.15.(수)) 광명스피돔 피스타 이용 제한 및 선수 개인 물품 회수요청</a> <!-- 상위공지 or 강조게시글은 <b>태그가 들어갑니다 -->
                                        </div>
                                    </div>
                                </td>
                                <td>경륜선수지원팀</td>
                                <td>35125</td>
                                <td class="right">0000.00.00</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">(24.5.15.(수)) 광명스피돔 피스타 이용 제한 및 선수 개인 물품 회수요청</a> <!-- 상위공지 or 강조게시글은 <b>태그가 들어갑니다 -->
                                        </div>
                                    </div>
                                </td>
                                <td>경륜선수지원팀</td>
                                <td>35125</td>
                                <td class="right">0000.00.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="comPaging">
                    <a class="start" href="#"></a>
                    <a class="prev" href="#"></a>
                    <ul class="numList">
                        <li><a href="#">1</a></li>
                        <li class="on"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                    <a class="next" href="#"></a>
                    <a class="end" href="#"></a>
                </div>
                
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>