
.cptLogin{
    width:100%; min-height:100vh; margin:0 auto; display: flex; align-items: center;

    @at-root {
        .lytLayout:has(.cptLogin) {
            .cptLogin {
                min-height: auto;
                .lgInner {
                    padding-top: 0;
                    .logoBox {
                        min-height: 214px;
                    }
                    .contBox {
                        min-height: 167px;
                    }
                    .footBox {
                        min-height: 187px;
                        .footInfo {
                            margin-top: 30px;
                        }
                    }
                }
            }
            .cptFooter {
                margin-top: 100px;
            }
        }
    }

    @include media('mobile'){
        width:100%; height:auto; padding:60px 20px 50px; align-items:baseline;
    }

    input::placeholder {color:rgba(0,0,0,0.3);}
    .lgInner{
        width:100%; padding-top:120px;
        @include media('mobile'){
            padding-top:0;
        }
        .logoBox{
            width:100%; min-height:294px;
            @include media('mobile'){min-height: auto; margin-bottom:70px;}
            .kspologo{
                max-width: 728px; margin:0 auto;
                @include media('mobile'){
                    width:100%; height:auto;
                }
                
                img{
                    width: 100%;
                }
            }
            .kspoIndex{
                margin-top:50px; color: #000; text-align: center; font-size: rem(40px); font-style: normal; font-weight: 400; line-height: normal;
            }
            .kspoDesc{
                margin-top: 13px; color: #000; text-align: center; font-size: rem(18px); font-style: normal; font-weight: 400; line-height: normal;
            }
        }
        .titleBox {
            .loginTitle{

            }
        }
        .contBox{
            max-width:500px; min-height:327px; margin:0 auto; display:flex; flex-wrap: wrap; align-content: flex-start;

            &.auto {
                margin-bottom: 10px; min-height: auto;
            }
            .textMsg{
                width:100%; 
                .text{
                    color: #000; text-align: center; font-size: 18px; font-style: normal; font-weight: 400; line-height: normal;
                    &.left{text-align:left;}
                }
            }
            .textInfo{
                .text{
                    
                }
            }
            dl{
                width:100%;
                .title{
                    width:100%; color: #000; font-family: "Pretendard"; font-size: rem(15px); font-style: normal; font-weight: 700; line-height: normal;
                    .required{
                        color: #f00; vertical-align: middle; margin-right:5px;
                    }
                }
                .iptBox{
                    width:100%; margin-top:12px;
                    input{
                        width:100%; height:66px; padding:0 30px; color: #000; font-family: "Pretendard"; font-size: rem(16px); font-style: normal; font-weight: 400; 
                        line-height: normal; border:0; border-radius: 12px; background: var(--gray-bg01); 
                    }
                }
                + dl {
                    margin-top:28px;
                }
            }
            .inText{
                width:100%; margin-top:14px; color: #000; font-size: rem(14px); font-style: normal; font-weight: 400; line-height: normal;
                &.clar{
                    min-height:16px; margin-top:18px; padding-left:22px; color: #F00; font-size: rem(14px); font-style: normal; font-weight: 400; line-height:1.2;
                    background:url(../../images/common/ic_login_caution.svg) left center no-repeat;
                }
                .point {
                    color: #F00;
                }
            }
            .saveId{
                width:100%; margin-top: 20px;
            }
        }
        .footBox{
            max-width:500px; min-height:227px; margin:0 auto; position:relative;
            .loginBox{
                width:100%;
                + .loginBox {margin-top:10px;}
                .btn{
                    width: 100%; height: 66px; font-family: "Pretendard"; font-size: rem(16px); font-style: normal; font-weight: 700; line-height: normal; border-radius: 12px;
                    &.basic{
                        color: #FFF; background: #4D5DF2;
                        &:disabled{
                            opacity: 0.4; mix-blend-mode: luminosity;
                        }
                    }
                    &.sub{
                        color: #000; background: #fff !important; border:1px solid #ccc;
                        &:disabled{
                            color: #666; background: #ddd !important;
                        }
                    }
                }
            }
            .loginSerch{
                width:100%; margin-top:22px; color: #000; text-align: center; font-family: "Pretendard"; font-size: rem(14px); font-style: normal; font-weight: 400; line-height: normal;
            }
            .footInfo{
                width:100%; margin-top:70px; color: rgba(0,0,0,0.5); text-align: center; font-family: Pretendard; font-size: rem(14px); font-style: normal; font-weight: 700; line-height: 1.85em; position:absolute; bottom:0; left:0;
            }
        }
    }
}

