/* --------------------------- 게시판 상세 --------------------------- */
.cptBoardView{
    width:100%;
    .boardArea{
        width: 100%; padding-bottom:70px; border-bottom:1px solid #eee;
        @include media('mobile'){padding-bottom:40px;}
        .boardTop{
            width: 100%; padding-bottom:30px; border-bottom:1px solid #eee;
            @include media('mobile'){padding-bottom:16px;}
            .boardType{
                margin-bottom:10px; color: #000; text-align: left; font-size: rem(15px); font-style: normal; font-weight: 700; line-height: normal;
                @include media('mobile'){margin-bottom: 9px; font-size: rem(13px);}
            }
            .boardTitle{
                color: #000; font-size: rem(34px); font-style: normal; font-weight: 400; line-height: 1.35;
                @include media('mobile'){font-size: rem(24px); line-height: 1.25}
            }
            .boardState{
                width: 100%; height: 30px; margin-top: 30px; display: flex; justify-content: end; gap: 26px;
                .item{
                    color: #000; font-size: rem(14px); font-style: normal; font-weight: 400; line-height: normal; align-self: center;
                    &.info{
                        display: flex; gap: 26px;
                    }
                    &.state{
                        min-width: 66px; height:30px; padding:0 15px; text-align: center; font-size: rem(12px); font-style: normal; font-weight: 800; 
                        line-height: 30px; border-radius: 15px; background: #F5F5FE;
                    }
                    &.pink{color: #FF5ADB;}
                    &.blue{color: var(--blue-txt01);}
                    &.gray{color: #888888;}
                }
                @include media('mobile'){
                    margin-top:10px; justify-content:space-between; gap:20px;
                    .item{
                        color: rgba(0,0,0,0.5); font-size: rem(12px);
                        &.info{
                            order:1; gap:20px; position:relative;
                            span {
                                position:relative;
                                &::after{
                                    content:""; width:1px; height:9px; background:rgba(0,0,0,0.2); display:block; position:absolute; left:-10px; top:calc(50% - 5px);
                                }
                                &:first-child::after {display:none;}
                            }
                        }
                        &.state{order:2;}
                    }
                }
            }
        }
        .boardBody {
            padding:70px 150px 0;
            @include media('mobile'){padding:40px 0 0;}
            .boardCont {
                margin-top:70px; padding-bottom:50px; color: rgba(0,0,0,0.7); font-size: rem(16px); font-style: normal; font-weight: 400; line-height: 1.75;
                &:first-child {margin-top:0;}
                &:last-child {padding-bottom:0;}
                img {max-width:100%;}
                table {max-width:100%;}
                @include media('mobile'){padding-bottom:40px; color: #000; font-size: rem(15px); line-height: 1.53;}
            }
        }
    }
}
