<%
var url = locals.url ? locals.url : '../../';
var subTitle = locals.subTitle ? locals.subTitle : '../../';
%>

<div class="comH1Title">
    <div class="titleArea">
        <h1><%= subTitle %></h1>
    </div>
</div>