<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "경륜 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/gnb.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    subTitle: "제재참석·처분통지",
                    url: "../../",
                }) %>

                <div class="modTab">
                    <ul class="tabMenu">
                        <li class="tabItem"><button class="tabName on" title="선택 된 탭메뉴">경륜 제재심의 참석통지서</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                        <li class="tabItem"><button class="tabName" title="탭메뉴">공정 제재처분 통지서</button></li>
                    </ul>
                    <div class="tabContianer">
                        <div class="tabCont on"> <!-- addClass - on : 컨텐츠 노출 -->

                            <div class="comTable sizeL">
                                <div class="tableArea">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:10%;">
                                            <col style="width:10%;">
                                            <col style="width:auto;">
                                            <col style="width:10%;">
                                            <col style="width:10%;">
                                            <col style="width:10%;">
                                            <col style="width:10%;">
                                            <col style="width:130px;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th class="t_01">발급번호</th>
                                                <th class="t_02">재제대상경주</th>
                                                <th class="t_01">사유</th>
                                                <th class="t_02">제재처분</th>
                                                <th class="t_01">참석여부</th>
                                                <th class="t_01">확인자</th>
                                                <th class="t_02">확인일자</th>
                                                <th class="t_01">확인여부</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>24-017</td>
                                                <td>24년 광명 제08회
                                                    1일차 04경주</td>
                                                <td class="left">심판판정 제재 세부기준 적용에 따른 제재(선두원 회피 후 부터 스스로 4초 정도 이상 6초 정도 미만 내선을 넘어 계속 주행한 경우)</td>
                                                <td>경륜시행규정 제 42조 제3호</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>2024-03-29 16:05:57.0</td>
                                                <td class="frm">
                                                    <button class="btn basic">통지서 확인</button>
                                                    <!-- <button class="btn bLine">통지서 보기</button> -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="tabCont">

                            <div class="comTable sizeL">
                                <div class="tableArea">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:10%;">
                                            <col style="width:10%;">
                                            <col style="width:auto;">
                                            <col style="width:10%;">
                                            <col style="width:10%;">
                                            <col style="width:130px;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th class="t_01">발급번호</th>
                                                <th class="t_02">재제대상경주</th>
                                                <th class="t_01">사유</th>
                                                <th class="t_02">제재처분</th>
                                                <th class="t_02">확인일자</th>
                                                <th class="t_01">확인여부</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>2022-11</td>
                                                <td>21년 광명 제11회 3일차 05경주</td>
                                                <td class="left">- 경륜경정 제재심의위원회 제14조(이의신청) <br>
                                                    - 재심결과 : 출전정지 2회 (원제재처분 3회 /1회 감경) <br>
                                                    - 처분사유 : 경륜시행규정 제 42조 제17초(그 밖에 공정하고 안전한 경주의 운영에 지장을 초래한 선수)
                                                    </td>
                                                <td>출전정지2회</td>
                                                <td>2024-03-29 16:05:57.0</td>
                                                <td class="frm">
                                                    <!-- <button class="btn basic">통지서 확인</button> -->
                                                    <button class="btn bLine">통지서 보기</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>
