<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "경륜 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/gnb.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    subTitle: "주선통보",
                    url: "../../",
                }) %>

                <div class="comTopPrint">
                    <div class="alignR"></div>
                </div>

                <div class="cptAppliForm">
                    <div class="formTitle">
                        <h2>2024년 경주참가통지서</h2>
                    </div>
                    <div class="formName">
                        <p>선수 류선재 귀하</p>
                    </div>
                    <div class="formCont">
                        <p>경륜경정사업본부에서 개최하는 2024년도 제20회 경륜에 귀하의 출전신청을 허가하오니
                            아래 사항을 유의하여 참가하시기 바랍니다.</p>
                    </div>
    
                    <div class="comTable">
                        <table>
                            <caption></caption>
                            <colgroup>
                                <col style="width:35%;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>집합장소</th>
                                    <td class="left">광명돔경륜장 경륜선수지원팀. (02)2067-3721~6</td>
                                </tr>
                                <tr>
                                    <th>집합일시</th>
                                    <td class="left">2024.05.23 11:00까지</td>
                                </tr>
                                <tr>
                                    <th>참가일</th>
                                    <td class="left">2024.05.24 ~ 2024.05.26 (3일간)</td>
                                </tr>
                                <tr>
                                    <th>휴대품</th>
                                    <td class="left">참가통지서, 도장, 선수등록증 및 등록수첩</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="formDate">
                        <p>2024년 05월 10일</p>
                    </div>

                    <div class="formBtm">
                        <p>서울올림픽기념국민체육진흥공단<br>
                        경주사업총괄본부 경주운영위원장 귀하</p>
                    </div>
                </div>

                <div class="comInfoBox">
                    <dl class="infoArea">
                        <dt class="infoTitle">참가선수 유의사항</dt>
                        <dd class="infoCont">
                            <ul class="infoList">
                                <li class="item">본 통지서 수령 후 경주참가 여부 및 출전 준비상태를 아래 양식의 의거 <b class="c_blue">2024.05.22</b> 까지 통보 바랍니다.</li>
                                <li class="item"><b class="bold">통보가 없을 시에는 경주 불참자로 간주될 수가 있습니다.</b></li>
                                <li class="item">귀하는 광명 경륜 제20회차 (5월24일~5월26일)에 주선되었습니다.</li>
                                <li class="item">출전준비 상태 반드시 작성, 입소 전 수요일 14시까지 (선수커뮤니티접속 → 자전거기어배수, 차체번호 등)</li>
                                <li class="item">경주 불참사유서 입소 전 수요일 14시까지 제출 (긴급사항 제외)</li>
                                <li class="item">입소 :  5월23일 09:30~11:00 (전일 입소 없음)</li>
                                <li class="item">연락처 : 02-2067-5719(팩스), 5713(선발), 5712(우수), 5711(특선)</li>
                            </ul>
                        </dd>
                    </dl>
                </div>

                <div class="modAccordion">
                    <div class="textBox info">
                        <p>선수정보와 출전준비상태를 꼭 확인 후 작성해주세요.</p>
                    </div>
                    <div class="accrBox">
                        <div class="accrTitle">
                            <div class="alignL"><span class="tit">선수정보</span></div>
                            <div class="alignR"><div class="text">작성일자 : 2024-05-22</div></div>
                        </div>
                        <div class="accrBody">
                            <div class="accrCont">
                                <div class="comTable sizeL">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:200px;">
                                            <col style="width:auto;">
                                            <col style="width:200px;">
                                            <col style="width:auto;">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th class="t_01">선수명</th>
                                                <td>류선재</td>
                                                <th class="t_01">훈련지</th>
                                                <td>가평 /	희망일자 2024-05-20</td>
                                            </tr>
                                            <tr>
                                                <th class="t_01">개명 전</th>
                                                <td>나훈아</td>
                                                <th class="t_01">개명 후</th>
                                                <td>션오프리</td>
                                            </tr>
                                            <tr>
                                                <th class="t_01">결혼여부</th>
                                                <td>-</td>
                                                <th class="t_01">흡연유무</th>
                                                <td>흡연</td>
                                            </tr>
                                            <tr>
                                                <th class="t_01">휴대전화</th>
                                                <td>-</td>
                                                <th class="t_01">유선전화</th>
                                                <td>070-2222-2222</td>
                                            </tr>
                                            <tr>
                                                <th class="t_01">상금계좌</th>
                                                <td>새마을금고 323010180074</td>
                                                <th class="t_01">사업자 등록번호</th>
                                                <td>123-45-67890</td>
                                            </tr>
                                            <tr>
                                                <th class="t_01">주소</th>
                                                <td colspan="3" class="left">(12345) 경기도 광명시 광명로 721 (광명동)</td>
                                            </tr>
                                            <tr>
                                                <th class="t_01">차량정보</th>
                                                <td colspan="3" class="left">아이오닉 5 / 36고 9021	</td>
                                            </tr>
                                            <tr>
                                                <th rowspan="3" class="t_01">가족관계</th>
                                                <td colspan="3" class="left">[모]  서문다미 1963-01-01 주부 고등학교 졸업</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="left">[처]  김영희  1990-01-01 주부 대학교 졸업</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="left">[자]  홍혁  2022-01-01	</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:200px;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th rowspan="2" class="t_01">학력사항</th>
                                                <th class="t_02">대학교</th>
                                                <th class="t_01">대학원</th>
                                                <th class="t_02">전공</th>
                                                <th class="t_01">최종학력</th>
                                                <th class="t_02">최종학력상태</th>
                                                <th class="t_01">최종학력졸업일자</th>
                                            </tr>
                                            <tr>
                                                <td>한국</td>
                                                <td>-</td>
                                                <td>레크레이션 학과</td>
                                                <td>대학교</td>
                                                <td>중퇴</td>
                                                <td>2012</td>
                                            </tr>
                                            <tr>
                                                <th class="t_01">비고</th>
                                                <td colspan="6"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="comFileList">
                                    <ul class="fileGroup">
                                        <li class="file download">
                                            <dl>
                                                <dt>첨부파일</dt>
                                                <dd><a href="#" class="fileName">재능기부 훈련지 모집공고.png</a></dd>
                                            </dl>
                                        </li>
                                    </ul>
                                </div>

                                <div class="accrBtnGroup">
                                    <div class="alignR">
                                        <button class="btn basic">수정하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modAccordion">
                    <div class="accrBox">
                        <div class="accrTitle">
                            <div class="alignL"><span class="tit">출전준비상태 통보</span></div>
                            <div class="alignR"><div class="text">작성일자 : 2024-05-22</div></div>
                        </div>
                        <div class="accrBody">
                            <div class="accrCont">
                                
                                <div class="comTable sizeL">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:200px;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th class="t_01">건강상태</th>
                                                <td colspan="2">좋음</td>
                                                <th class="t_01">건강상태</th>
                                                <td colspan="2">광명</td>
                                            </tr>
                                            <tr>
                                                <th rowspan="2" class="t_01">훈련상태</th>
                                                <th class="t_02">훈련지</th>
                                                <th class="t_01">인터벌 300m</th>
                                                <th class="t_02">인터벌 200m</th>
                                                <th class="t_01">훈련량</th>
                                                <th class="t_02">동참 훈련자</th>
                                            </tr>
                                            <tr>
                                                <td>별나라</td>
                                                <td>2</td>
                                                <td>1</td>
                                                <td>중</td>
                                                <td>차은우</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:200px;">
                                            <col style="width:16.5%;">
                                            <col style="width:16.5%;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th rowspan="2" class="t_01">자전거 현황</th>
                                                <th class="t_02">기어입력</th>
                                                <th class="t_01">차수</th>
                                                <th class="t_02">자전거 등록번호</th>
                                                <th class="t_01">자전거 상표</th>
                                            </tr>
                                            <tr>
                                                <td>55</td>
                                                <td>14</td>
                                                <td>XG10041004</td>
                                                <td>인터프로</td>
                                            </tr>
                                            <tr>
                                                <th class="t_01">특이사항</th>
                                                <td colspan="4" class="left">특별히 할 말은 없는데 감사합니다.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="accrBtnGroup">
                                    <div class="alignR">
                                        <button class="btn basic">작성하기</button>
                                        <button class="btn basic">등록하기</button>
                                        <button class="btn basic" disabled>등록하기</button>
                                        <button class="btn basic">수정하기</button>
                                        <button class="btn basic">참가통보하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="textBox btm">
                        <p>출전통보작성기간이 만료되었습니다.</p>
                        <p>출전통보가 완료되었습니다.</p>
                        <p class="c_blue">통보일자 : 2024-05-22</p>
                    </div>
                </div>
                
                <div class="comBtnInView">
                    <div class="btnArea">
                        <button class="btn basic">참가통보하기</button>
                    </div>
                </div>

                <div class="comGroupBtm line">
                    <div class="alignL">
                        <div class="textBox">
                            <p class="c_blue">연락처 : 경륜기획팀 031-000-0000</p>
                        </div>
                    </div>
                    <div class="alignR">
                        <button class="btn basic">목록</button>
                    </div>
                </div>
                
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>
