<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "경륜 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/gnb.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    subTitle: "주선통보",
                    url: "../../",
                }) %>

                <div class="comTopPrint">
                    <div class="alignR"></div>
                </div>

                <div class="cptAppliForm">
                    <div class="formTitle">
                        <h2>2024년 경주참가통지서</h2>
                    </div>
                    <div class="formName">
                        <p>선수 류선재 귀하</p>
                    </div>
                    <div class="formCont">
                        <p>경륜경정사업본부에서 개최하는 2024년도 제20회 경륜에 귀하의 출전신청을 허가하오니
                            아래 사항을 유의하여 참가하시기 바랍니다.</p>
                    </div>
    
                    <div class="comTable">
                        <div class="tableArea">
                            <table>
                                <caption></caption>
                                <colgroup>
                                    <col style="width:35%;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>집합장소</th>
                                        <td class="left">광명돔경륜장 경륜선수지원팀. (02)2067-3721~6</td>
                                    </tr>
                                    <tr>
                                        <th>집합일시</th>
                                        <td class="left">2024.05.23 11:00까지</td>
                                    </tr>
                                    <tr>
                                        <th>참가일</th>
                                        <td class="left">2024.05.24 ~ 2024.05.26 (3일간)</td>
                                    </tr>
                                    <tr>
                                        <th>휴대품</th>
                                        <td class="left">참가통지서, 도장, 선수등록증 및 등록수첩</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="formDate">
                        <p>2024년 05월 10일</p>
                    </div>

                    <div class="formBtm">
                        <p>서울올림픽기념국민체육진흥공단<br>
                        경주사업총괄본부 경주운영위원장 귀하</p>
                    </div>
                </div>

                <!-- 20240824 수정 -->
                <div class="comInfoBox">
                    <dl class="infoArea">
                        <dt class="infoTitle">참가선수 유의사항</dt>
                        <dd class="infoCont">
                            <ul class="infoList">
                                <li class="item">본 통지서 수령 후 경주참가 여부 및 출전 준비상태를 아래 양식의 의거 <b class="c_blue">2024.05.22</b> 까지 통보 바랍니다.</li>
                                <li class="item"><b class="bold">통보가 없을 시에는 경주 불참자로 간주될 수가 있습니다.</b></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="infoArea">
                        <dt class="infoTitle">출전선수 공지사항</dt>
                        <dd class="infoCont">
                            <div class="infoText">
                                * 귀하는 광명 경륜 제20회차 (5월24일~5월26일)에 주선되었습니다.<br>
                                * 출전준비 상태 반드시 작성, 입소 전 수요일 14시까지 (선수커뮤니티접속 → 자전거기어배수, 차체번호 등)<br>
                                * 경주 불참사유서 입소 전 수요일 14시까지 제출 (긴급사항 제외)<br>
                                * 입소 :  5월23일 09:30~11:00 (전일 입소 없음)<br>
                                * 연락처 : 02-2067-5719(팩스), 5713(선발), 5712(우수), 5711(특선)
                            </div>
                        </dd>
                    </dl>
                </div>
                <!-- 20240824 //수정 -->

                <div class="modAccordion">
                    <div class="textBox info">
                        <p>선수정보와 출전준비상태를 꼭 확인 후 작성해주세요.</p>
                    </div>
                    <div class="accrBox">
                        <div class="accrTitle">
                            <div class="alignL"><span class="tit">선수정보</span></div>
                            <div class="alignR"><div class="text">작성일자 : 2024-05-22</div></div>
                        </div>
                        <div class="accrBody">
                            <div class="accrCont">
                                <div class="comTable sizeL">
                                    <div class="tableArea">
                                        <table>
                                            <caption></caption>
                                            <colgroup>
                                                <col style="width:15%;">
                                                <col style="width:auto;">
                                                <col style="width:15%;">
                                                <col style="width:auto;">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th class="t_01">선수명</th>
                                                    <td>류선재</td>
                                                    <th class="t_01">훈련지</th>
                                                    <td class="frm">
                                                        <div class="frmGroup ex1">
                                                            <select name="" id="" class="iptSlt">
                                                                <option value="">훈련지명</option>
                                                            </select>
                                                            <div class="textBox">희망일자</div>
                                                            <div class="tui-datepicker-input tui-datetime-input tui-has-focus tui-left"> <!-- addClass 위치 - tui-left: 좌측, tui-top: 상단, tui-pop: 레이어팝업 -->
                                                                <input type="text" id="datepicker-input" aria-label="Date-Time">
                                                                <div id="datepicker-container" style="margin-top: -1px;"></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="t_01">개명 전</th>
                                                    <td>나훈아</td>
                                                    <th class="t_01">개명 후</th>
                                                    <td>션오프리</td>
                                                </tr>
                                                <tr>
                                                    <th class="t_01"><span class="required">*</span>결혼여부</th>
                                                    <td class="frm">
                                                        <div class="frmGroup">
                                                            <div class="frmChoBox"><input id="rdo001" type="radio" class="iptRdo" name="rdo001"><label for="rdo001" class="iptLbl">미혼</label></div>
                                                            <div class="frmChoBox"><input id="rdo002" type="radio" class="iptRdo" name="rdo001"><label for="rdo002" class="iptLbl">기혼</label></div>
                                                        </div>
                                                    </td>
                                                    <th class="t_01"><span class="required">*</span>흡연유무</th>
                                                    <td class="frm">
                                                        <div class="frmGroup">
                                                            <div class="frmChoBox"><input id="rdo101" type="radio" class="iptRdo" name="rdo101"><label for="rdo101" class="iptLbl">흡연</label></div>
                                                            <div class="frmChoBox"><input id="rdo102" type="radio" class="iptRdo" name="rdo101"><label for="rdo102" class="iptLbl">비흡연</label></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="t_01"><span class="required">*</span>휴대전화</th>
                                                    <td class="frm">
                                                        <div class="frmGroup"><input type="text" class="iptText" placeholder="휴대전화번호를 입력해주세요" ></div>
                                                    </td>
                                                    <th class="t_01">유선전화</th>
                                                    <td class="frm">
                                                        <div class="frmGroup"><input type="text" class="iptText" placeholder="전화번호를 입력해주세요" ></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="t_01"><span class="required">*</span>상금계좌</th>
                                                    <td class="frm">
                                                        <div class="frmGroup ex2">
                                                            <select name="" id="" class="iptSlt">
                                                                <option value="">은행선택</option>
                                                            </select>
                                                            <input type="text" class="iptText" placeholder="계좌번호를 입력해주세요" >
                                                        </div>
                                                    </td>
                                                    <th class="t_01">사업자 등록번호</th>
                                                    <td class="frm">
                                                        <div class="frmGroup"><input type="text" class="iptText" placeholder="사업자번호를 입력해주세요" ></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th rowspan="2" class="t_01"><span class="required">*</span>주소</th>
                                                    <td colspan="3" class="left frm">
                                                        <div class="frmGroup ex3">
                                                            <button class="btn bLine">도로명 주소 검색</button>
                                                            <input type="text" class="iptText" >
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="left frm">
                                                        <div class="frmGroup">
                                                            <input type="text" class="iptText" placeholder="상세주소를 입력해주세요" >
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="t_01">차량정보</th>
                                                    <td colspan="3" class="left frm">
                                                        <div class="frmGroup ex4">
                                                            <div class="frmChoBox"><input id="rdo201" type="radio" class="iptRdo" name="rdo201"><label for="rdo201" class="iptLbl">흡연</label></div>
                                                            <div class="frmChoBox"><input id="rdo202" type="radio" class="iptRdo" name="rdo201"><label for="rdo202" class="iptLbl">비흡연</label></div>
                                                            <input type="text" class="iptText" placeholder="차량명을 입력해주세요" >
                                                            <input type="text" class="iptText" placeholder="차량번호를 입력해주세요. 예시)123가 5678" >
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th rowspan="3" class="t_01">가족관계</th>
                                                    <td colspan="3" class="left">[모]  서문다미 1963-01-01 주부 고등학교 졸업</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="left">[처]  김영희  1990-01-01 주부 대학교 졸업</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="left">[자]  홍혁  2022-01-01	</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table>
                                            <caption></caption>
                                            <colgroup>
                                                <col style="width:15%;">
                                                <col style="width:12%;">
                                                <col style="width:12%;">
                                                <col style="width:12%;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th rowspan="2" class="t_01">학력사항</th>
                                                    <th class="t_02">대학교</th>
                                                    <th class="t_01">대학원</th>
                                                    <th class="t_02">전공</th>
                                                    <th class="t_01">최종학력</th>
                                                    <th class="t_02">최종학력상태</th>
                                                    <th class="t_01">최종학력졸업일자</th>
                                                </tr>
                                                <tr>
                                                    <td class="frmS">
                                                        <div class="frmGroup"><input type="text" class="iptText" placeholder="학교명 입력" ></div>
                                                    </td>
                                                    <td class="frmS">
                                                        <div class="frmGroup"><input type="text" class="iptText" placeholder="학교명 입력" ></div>
                                                    </td>
                                                    <td class="frmS">
                                                        <div class="frmGroup"><input type="text" class="iptText" placeholder="전공명 입력" ></div>
                                                    </td>
                                                    <td class="frmS">
                                                        <div class="frmGroup">
                                                            <select name="" id="" class="iptSlt">
                                                                <option value="">선택</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td class="frmS">
                                                        <div class="frmGroup">
                                                            <select name="" id="" class="iptSlt">
                                                                <option value="">선택</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td class="frmS">
                                                        <div class="frmGroup">
                                                            <div class="tui-datepicker-input tui-datetime-input tui-has-focus tui-left tui-top"> <!-- addClass 위치 - tui-left: 좌측, tui-top: 상단, tui-pop: 레이어팝업 -->
                                                                <input type="text" id="datepicker-input2" aria-label="Date-Time">
                                                                <div id="datepicker-container2" style="margin-top: -1px;"></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="t_01">비고</th>
                                                    <td colspan="6" class="frm">
                                                        <div class="frmGroup">
                                                            <textarea class="iptTextarea" placeholder="※ 예시와 같은 변동사항이 있을 경우, 입력해주세요.  예시) 가족사항, 개명 등"></textarea>
                                                            <span class="textByte">56/5000 byte</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                    <script>
                                        datePicker("datepicker-input","datepicker-container");
                                        datePicker("datepicker-input2","datepicker-container2");
                                    </script>
                                </div>
                                <div class="comFileList">
                                    <ul class="fileGroup">
                                        <li class="file upload">
                                            <dl>
                                                <dt>첨부파일</dt>
                                                <dd>
                                                    <div class="frmGroup">
                                                        <div class="fileBox">
                                                            <div class="fileBefore">
                                                                <label for="uploadBtn1" class="btn">파일선택</label>
                                                                <input type="file" id="uploadBtn1" class="uploadBtn">
                                                            </div>
                                                            <div class="fileAfter">
                                                                <div class="textBox"></div>
                                                                <button class="fileDel">삭제</button>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="textBox clar"> * 최대 500MB까지 첨부가능</div> -->
                                                    </div>
                                                </dd>
                                            </dl>
                                        </li>
                                    </ul>
                                </div>

                                <div class="accrBtnGroup">
                                    <div class="alignL">
                                        <div class="frmGroup">
                                            <div class="frmChoBox">
                                                <input id="chk101" type="checkbox" class="iptChk"><label for="chk101" class="iptLbl">작성한 내용이 이상이 없음을 확인하였습니다.</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="alignR">
                                        <button class="btn basic" disabled>등록하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modAccordion">
                    <div class="accrBox">
                        <div class="accrTitle">
                            <div class="alignL"><span class="tit">출전준비상태 통보</span></div>
                            <div class="alignR"><div class="text">작성일자 : 2024-05-22</div></div>
                        </div>
                        <div class="accrBody">
                            <div class="accrCont">
                                
                                <div class="comTable sizeL">
                                    <div class="tableArea">
                                        <table>
                                            <caption></caption>
                                            <colgroup>
                                                <col style="width:15%;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:198px;">
                                                <col style="width:auto;">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th class="t_01"><span class="required">*</span>건강상태</th>
                                                    <td colspan="2" class="frm">
                                                        <div class="frmGroup">
                                                            <div class="frmChoBox"><input id="rdo301" type="radio" class="iptRdo" name="rdo301"><label for="rdo301" class="iptLbl">상</label></div>
                                                            <div class="frmChoBox"><input id="rdo302" type="radio" class="iptRdo" name="rdo301"><label for="rdo302" class="iptLbl">중</label></div>
                                                            <div class="frmChoBox"><input id="rdo303" type="radio" class="iptRdo" name="rdo301"><label for="rdo303" class="iptLbl">하</label></div>
                                                        </div>
                                                    </td>
                                                    <th class="t_01"><span class="required">*</span>연속출전여부</th>
                                                    <td colspan="2" class="frm">
                                                        <div class="frmGroup">
                                                            <div class="frmChoBox"><input id="rdo401" type="radio" class="iptRdo" name="rdo401"><label for="rdo401" class="iptLbl">광명</label></div>
                                                            <div class="frmChoBox"><input id="rdo402" type="radio" class="iptRdo" name="rdo401"><label for="rdo402" class="iptLbl">창원</label></div>
                                                            <div class="frmChoBox"><input id="rdo403" type="radio" class="iptRdo" name="rdo401"><label for="rdo403" class="iptLbl">부산</label></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th rowspan="2" class="t_01">훈련상태</th>
                                                    <th class="t_02"><span class="required">*</span>훈련지</th>
                                                    <th class="t_01"><span class="required">*</span>인터벌 300m</th>
                                                    <th class="t_02"><span class="required">*</span>인터벌 200m</th>
                                                    <th class="t_01"><span class="required">*</span>훈련량</th>
                                                    <th class="t_02">동참 훈련자</th>
                                                </tr>
                                                <tr>
                                                    <td class="frm">
                                                        <div class="frmGroup"><input type="text" class="iptText" placeholder="훈련지 입력" ></div>
                                                    </td>
                                                    <td class="frm">
                                                        <div class="frmGroup"><input type="text" class="iptText" placeholder="인터벌 입력" ></div>
                                                    </td>
                                                    <td class="frm">
                                                        <div class="frmGroup"><input type="text" class="iptText" placeholder="인터벌 입역" ></div>
                                                    </td>
                                                    <td class="frm">
                                                        <div class="frmGroup">
                                                            <div class="frmChoBox"><input id="rdo501" type="radio" class="iptRdo" name="rdo501"><label for="rdo501" class="iptLbl">상</label></div>
                                                            <div class="frmChoBox"><input id="rdo502" type="radio" class="iptRdo" name="rdo501"><label for="rdo502" class="iptLbl">중</label></div>
                                                            <div class="frmChoBox"><input id="rdo503" type="radio" class="iptRdo" name="rdo501"><label for="rdo503" class="iptLbl">하</label></div>
                                                        </div>
                                                    </td>
                                                    <td class="frm">
                                                        <div class="frmGroup"><input type="text" class="iptText" placeholder="훈련자 입력" ></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table>
                                            <caption></caption>
                                            <colgroup>
                                                <col style="width:15%;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th rowspan="2" class="t_01"><span class="required">*</span>자전거 현황</th>
                                                    <th class="t_02"><span class="required">*</span>기어입력</th>
                                                    <th class="t_01"><span class="required">*</span>차수</th>
                                                    <th class="t_02"><span class="required">*</span>자체번호</th>
                                                    <th class="t_01"><span class="required">*</span>자체모델</th>
                                                </tr>
                                                <tr>
                                                    <td class="frm">
                                                        <div class="frmGroup"><input type="text" class="iptText" placeholder="기어 입력" ></div>
                                                    </td>
                                                    <td class="frm">
                                                        <div class="frmGroup"><input type="text" class="iptText" placeholder="차수 입력" ></div>
                                                    </td>
                                                    <td class="frm">
                                                        <div class="frmGroup"><input type="text" class="iptText" placeholder="자체번호 입력" ></div>
                                                    </td>
                                                    <td class="frm">
                                                        <div class="frmGroup"><input type="text" class="iptText" placeholder="자체모델 입력" ></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="t_01">특이사항</th>
                                                    <td colspan="4" class="frm">
                                                        <div class="frmGroup">
                                                            <textarea class="iptTextarea" placeholder="※ 예시와 같은 변동사항이 있을 경우, 입력해주세요.  예시) 가족사항, 개명 등"></textarea>
                                                            <span class="textByte">56/5000 byte</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="accrBtnGroup">
                                    <div class="alignR">
                                        <button class="btn basic">작성하기</button>
                                        <button class="btn basic">등록하기</button>
                                        <button class="btn basic" disabled>등록하기</button>
                                        <button class="btn basic">수정하기</button>
                                        <button class="btn basic">참가통보하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="textBox btm">
                        <p>출전통보작성기간이 만료되었습니다.</p>
                        <p>출전통보가 완료되었습니다.</p>
                        <p class="c_blue">통보일자 : 2024-05-22</p>
                    </div>
                </div>
                
                <div class="comBtnInView">
                    <div class="btnArea">
                        <button class="btn basic">참가통보하기</button>
                    </div>
                </div>

                <div class="comGroupBtm line">
                    <div class="alignL">
                        <div class="textBox">
                            <p class="c_blue">연락처 : 경륜기획팀 031-000-0000</p>
                        </div>
                    </div>
                    <div class="alignR">
                        <button class="btn basic">목록</button>
                    </div>
                </div>
                
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>
