<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "경륜 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/gnb.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    subTitle: "경주 불참사유서",
                    url: "../../",
                }) %>

                
                <div class="cptAppliForm">
                    <div class="formTitle">
                        <h2>경주 불참사유서</h2>
                    </div>

                    <div class="comInTitle">
                        <h4 class="">경주 불참사유서 신청</h4>
                    </div>

                    <div class="comTable sizeM">
                        <div class="tableArea">
                            <table>
                                <caption></caption>
                                <colgroup>
                                    <col style="width:35%;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>선수명(등급)</th> <!-- 20250115 수정 -->
                                        <td class="left">류선재(A2)</td> <!-- 20250115 수정 -->
                                    </tr>
                                    <tr>
                                        <th>등록번호</th>
                                        <td class="left">6576821315486</td>
                                    </tr>
                                    <tr>
                                        <th>불참 회차(기간)</th>
                                        <td class="left frm">
                                            <div class="frmGroup">
                                                <div class="tui-datepicker-input tui-datetime-input tui-has-focus frmMd">
                                                    <input id="startpicker-input02" type="text" aria-label="Date">
                                                    <div id="startpicker-container02" style="margin-left: -1px;"></div>
                                                </div>
                                                <div class="textBox deco">~</div>
                                                <div class="tui-datepicker-input tui-datetime-input tui-has-focus frmMd">
                                                    <input id="endpicker-input02" type="text" aria-label="Date">
                                                    <div id="endpicker-container02" style="margin-left: -1px;"></div>
                                                </div>
                                                <div class="textBox">2024년 21회차 ~ 25회차</div>
                                            </div>
                                            <script>datePickerTo("startpicker-input02", "startpicker-container02", "endpicker-input02", "endpicker-container02");</script>
                                        </td>
                                    </tr>

                                    <!-- 20250115 추가 -->
                                    <tr>
                                        <th>사유코드</th>
                                        <td class="left frm">
                                            <div class="frmGroup" style="flex-wrap: wrap;">
                                                <div class="frmChoBox"><input id="rdo001" type="radio" class="iptRdo" name="rdo001"><label for="rdo001" class="iptLbl">가사​</label></div>
                                                <div class="frmChoBox"><input id="rdo002" type="radio" class="iptRdo" name="rdo001"><label for="rdo002" class="iptLbl">훈련​</label></div>
                                                <div class="frmChoBox"><input id="rdo003" type="radio" class="iptRdo" name="rdo001"><label for="rdo003" class="iptLbl">경조사​</label></div>
                                                <div class="frmChoBox"><input id="rdo004" type="radio" class="iptRdo" name="rdo001"><label for="rdo004" class="iptLbl">예비군​</label></div>
                                                <div class="frmChoBox"><input id="rdo005" type="radio" class="iptRdo" name="rdo001"><label for="rdo005" class="iptLbl">부상(시합중)</label></div>
                                                <div class="frmChoBox"><input id="rdo006" type="radio" class="iptRdo" name="rdo001"><label for="rdo006" class="iptLbl">부상(일상생활 중, 질병)</label></div>
                                                <div class="frmChoBox"><input id="rdo007" type="radio" class="iptRdo" name="rdo001"><label for="rdo007" class="iptLbl">부상(훈련중)</label></div>
                                                <div class="frmChoBox"><input id="rdo008" type="radio" class="iptRdo" name="rdo001"><label for="rdo008" class="iptLbl">기타(대회, 행사, 공무 등)</label></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- //20250115 추가 -->

                                    <tr>
                                        <th>불참사유</th>
                                        <td class="left frm">
                                            <div class="frmGroup">
                                                <textarea class="iptTextarea" placeholder="불참사유를 입력해주세요"></textarea>
                                                <span class="textByte">56/5000 byte</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- 파일 업로드 -->
                    <div class="comFileList">
                        <ul class="fileGroup">
                            <li class="file upload">
                                <dl>
                                    <dt>첨부파일</dt>
                                    <dd>
                                        <div class="frmGroup">
                                            <div class="fileBox">
                                                <div class="fileBefore">
                                                    <label for="uploadBtn1" class="btn">파일선택</label>
                                                    <input type="file" id="uploadBtn1" class="uploadBtn">
                                                </div>
                                                <div class="fileAfter">
                                                    <div class="textBox"></div>
                                                    <button class="fileDel">삭제</button>
                                                </div>
                                            </div>
                                            <!-- <div class="textBox clar"> * 최대 500MB까지 첨부가능</div> -->
                                        </div>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="comBtnInView">
                        <div class="btnArea">
                            <button class="btn basic" disabled="">신청하기</button>
                            <button class="btn basic">신청하기</button>
                        </div>
                    </div>
    
                </div>

                <div class="comGroupBtm line">
                    <div class="alignR">
                        <button class="btn basic">목록</button>
                    </div>
                </div>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>