<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "경륜 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/gnb.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    subTitle: "선수정보",
                    url: "../../",
                }) %>

                <div class="cptPlayerInfo">
                    <div class="infoArea">
                        <div class="imgBox">
                            <img src="" alt="">
                        </div>
                        <div class="infoBox">
                            <div class="profile">
                                <i class="desc">좋은 하루 되세요</i>
                                <div class="name">
                                    <b>류선재</b>
                                    <span>6554156</span>
                                </div>
                                <div class="btnBox">
                                    <button class="btn bLine">비밀번호 재설정</button>
                                </div>
                            </div>
                            <ul class="infoList">
                                <li class="item"><dl><dt>기수</dt><dd>17기</dd></dl></li>
                                <li class="item"><dl><dt>등급</dt><dd>A2</dd></dl></li>
                                <li class="item"><dl><dt>출산지</dt><dd>충북</dd></dl></li>
                                <li class="item"><dl><dt>충북</dt><dd>창원의창</dd></dl></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="comInTitle">
                    <h4>2024년 경주기록</h4>
                    <div class="absR">
                        <span class="textBox">전체 성적 순위 : <b>850위</b></span>
                    </div>
                </div>
                
                <div class="comTable sizeM">
                    <div class="tableArea">
                        <table>
                            <caption></caption>
                            <colgroup>
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th class="t_01">승률</th>
                                    <th class="t_02">연대율</th>
                                    <th class="t_01">삼연대율</th>
                                    <th class="t_02">출주횟수</th>
                                    <th class="t_01">출주일수</th>
                                    <th class="t_02">선행1착수</th>
                                    <th class="t_02">선행2착수</th>
                                </tr>
                                <tr>
                                    <td>48</td>
                                    <td>262</td>
                                    <td>90</td>
                                    <td>7</td>
                                    <td>21</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th class="t_01">선행3착수</th>
                                    <th class="t_02">추입1착수</th>
                                    <th class="t_01">추입2착수</th>
                                    <th class="t_02">추입3착수</th>
                                    <th class="t_01">총평균</th>
                                    <th class="t_02">젖치기1착수</th>
                                    <th class="t_02">젖치기2착수</th>
                                </tr>
                                <tr>
                                    <td>0</td>
                                    <td>8</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>96.626</td>
                                    <td>2</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <th class="t_01">젖치기3착수</th>
                                    <th class="t_02">마크1착수</th>
                                    <th class="t_01">마크2착수</th>
                                    <th class="t_02">마크3착수</th>
                                    <th class="t_01">전3회평균</th>
                                    <th class="t_02">주훈련지</th>
                                    <th class="t_02">전등급</th>
                                </tr>
                                <tr>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>96.626</td>
                                    <td>청주</td>
                                    <td>A1</td>
                                </tr>
                                <tr>
                                    <th class="t_01">고장골인수</th>
                                    <th class="t_02">실격회수</th>
                                    <th class="t_01">경고회수</th>
                                    <th class="t_02">주의회수</th>
                                    <th class="t_01">낙차포기수</th>
                                    <th class="t_02">고장포기수</th>
                                    <th class="t_02">낙차골인수</th>
                                </tr>
                                <tr>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>14</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th class="t_01">총순위</th>
                                    <th class="t_02">1착회수</th>
                                    <th class="t_01">2착회수</th>
                                    <th class="t_02">3착회수</th>
                                    <th class="t_01">전3회순위</th>
                                    <th class="t_02">고장포기수</th>
                                    <th class="t_02">낙차골인수</th>
                                </tr>
                                <tr>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>14</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <!-- 20250115 추가 -->
                <div class="comInTitle">
                    <h4>2025년 공정안전점수</h4>
                </div>
                <div class="comTable">
                    <div class="tableArea">
                        <table>
                            <caption></caption>
                            <colgroup>
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="t_01">전체평균점수(기준점수 : 100)</th>
                                    <th class="t_02">본인점수</th>
                                    <th class="t_01">개인별 점수 순위</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>99.8</td>
                                    <td>100</td>
                                    <td>1/563</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="comTable">
                    <div class="tableArea" style="overflow-x: auto;">
                        <table style="min-width: 2300px;">
                            <caption></caption>
                            <colgroup>
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th colspan="4" class="t_01">제재 심의 결과</th>
                                    <th colspan="8" class="t_02">사고실격</th>
                                    <th colspan="2" class="t_01">조력,태만,실격</th>
                                    <th colspan="2" class="t_02">조력,태만,경고</th>
                                    <th colspan="8" class="t_01">기타 실격</th>
                                </tr>
                                <tr>
                                    <th colspan="2" class="t_02">출전정지 3회, 1개월 이하</th>
                                    <th rowspan="2" class="t_01">출전정지 3회, 1개월 초과</th>
                                    <th rowspan="2" class="t_02">서면경고</th>
                                    <th rowspan="2" class="t_01">72조 3호</th>
                                    <th rowspan="2" class="t_02">73조 2항</th>
                                    <th rowspan="2" class="t_01">73조 3항</th>
                                    <th rowspan="2" class="t_02">73조 4항</th>
                                    <th rowspan="2" class="t_01">74조 1항</th>
                                    <th rowspan="2" class="t_02">74조 2항</th>
                                    <th rowspan="2" class="t_01">74조 3항</th>
                                    <th rowspan="2" class="t_02">87조</th>
                                    <th rowspan="2" class="t_01">72조 2호</th>
                                    <th rowspan="2" class="t_02">76조</th>
                                    <th rowspan="2" class="t_01">72조 2호</th>
                                    <th rowspan="2" class="t_02">76조</th>
                                    <th rowspan="2" class="t_01">64조 1항</th>
                                    <th rowspan="2" class="t_02">72조 4호</th>
                                    <th rowspan="2" class="t_01">73조 1항</th>
                                    <th rowspan="2" class="t_02">75조</th>
                                    <th rowspan="2" class="t_01">77조</th>
                                    <th rowspan="2" class="t_02">78조</th>
                                    <th rowspan="2" class="t_01">86조</th>
                                    <th rowspan="2" class="t_02">103조 1항 4호</th>
                                </tr>
                                <tr>
                                    <th class="t_01">위반점 합산</th>
                                    <th class="t_02">제재심의</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- //20250115 추가 -->
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>
