<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "경륜 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/gnb.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    subTitle: "상금명세서",
                    url: "../../",
                }) %>

                <div class="comTopPrint">
                    <div class="alignR">
                        <button class="btn bLine excel">엑셀다운로드</button>
                        <button class="btn bLine print">인쇄</button>
                        <button class="btn bLine excel" disabled>엑셀다운로드</button>
                        <button class="btn bLine print" disabled>인쇄</button>
                    </div>
                </div>

                <div class="comH2Title">
                    <div class="titleArea">
                        <h2>2024년 선수 상금명세서</h2>
                    </div>
                </div>

                <div class="comInTitle">
                    <h4>선수정보</h4>
                </div>

                <div class="comTable">
                    <table>
                        <caption></caption>
                        <colgroup>
                            <col style="width:216px;">
                            <col style="width:216px;">
                            <col style="width:216px;">
                            <col style="width:216px;">
                            <col style="width:216px;">
                            <col style="width:auto;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>선수등록번호</th>
                                <td>12345678</td>
                                <th>성명</th>
                                <td>홍길동</td>
                                <th>사업자번호</th>
                                <td>123-45-678901</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="comInTitle">
                    <h4>지급총액</h4>
                    <div class="absR">
                        <span class="textBox">단위 : 원</span>
                    </div>
                </div>

                <div class="comTable">
                    <table>
                        <caption></caption>
                        <colgroup>
                            <col style="width:216px;">
                            <col style="width:216px;">
                            <col style="width:216px;">
                            <col style="width:216px;">
                            <col style="width:216px;">
                            <col style="width:auto;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>지급총액</th>
                                <td>850,000</td>
                                <th>공제총액</th>
                                <td>28,050</td>
                                <th>차인지급액</th>
                                <td>821,950</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="comInTitle">
                    <h4>지급사항</h4>
                    <div class="absR">
                        <span class="textBox">단위 : 원</span>
                    </div>
                </div>

                <div class="comTable">
                    <table>
                        <caption></caption>
                        <colgroup>
                            <col style="width:260px;">
                            <col style="width:260px;">
                            <col style="width:260px;">
                            <col style="width:260px;">
                            <col style="width:auto;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>성적상금</th>
                                <th>출전상금</th>
                                <th>유도상금</th>
                                <th>후보상금</th>
                                <th>대기상금</th>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>750,000</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <th>기타상금</th>
                                <th>안전상금</th>
                                <th>출전 준비금</th>
                                <th>숙식비</th>
                                <th>대기상금</th>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>0</td>
                                <td>100,000</td>
                                <td>0</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="comInTitle">
                    <h4>공제내역</h4>
                    <div class="absR">
                        <span class="textBox">단위 : 원</span>
                    </div>
                </div>

                <div class="comTable">
                    <table>
                        <caption></caption>
                        <colgroup>
                            <col style="width:260px;">
                            <col style="width:260px;">
                            <col style="width:260px;">
                            <col style="width:260px;">
                            <col style="width:auto;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>소득세</th>
                                <th>주민세</th>
                                <th>부품구입</th>
                                <th>숙식비</th>
                                <th>선수회비</th>
                            </tr>
                            <tr>
                                <td>25,500</td>
                                <td>2,550</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <th>퇴직적립</th>
                                <th>채권압류</th>
                                <th>사랑나눔</th>
                                <th>교육비</th>
                                <th>대출금</th>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="comGroupBtm line">
                    <div class="alignR">
                        <button class="btn basic">목록</button>
                    </div>
                </div>
                
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>
