<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "경륜 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/gnb.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    subTitle: "재제 불참사유서",
                    url: "../../",
                }) %>

                
                <div class="cptAppliForm">
                    <div class="formTitle">
                        <h2>재제심의위원회 불참사유서</h2>
                    </div>
                    <div class="formCont">
                        <p>상기 본인은 국민체육진흥공단 경주사업총괄본부에서 심의하는 제재심의위원회에 회부 되었으나 <br>
                            위와 같은 사유로 인하여 참석을 할 수가 없어 제재심의위원회에서 의결하는 제재양형을 따르도록 하겠습니다</p>
                    </div>

                    <div class="comTable">
                        <table>
                            <caption></caption>
                            <colgroup>
                                <col style="width:260px;">
                                <col style="width:auto;">
                                <col style="width:260px;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>선수명</th>
                                    <td>류선재</td>
                                    <th>등록번호</th>
                                    <td>6576821315486</td>
                                </tr>
                                <tr>
                                    <th>불참 회차(기간)</th>
                                    <td colspan="3" class="left">2024년 06월 20일</td>
                                </tr>
                                <tr>
                                    <th>불참사유</th>
                                    <td colspan="3" class="left">수술로 인한 경기 불참</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text">
                            * 상기 사유가 거짓으로 판명될 경우 불이익에 대한 책임을 질 것을 확약합니다.<br>
                            * 증빙서류 : 병원 진단서, 청첩장, 예비군 소집 통지서 등 증빙할 서류
                        </p>
                        <p class="text"><span class="c_blue">연락처 : 경정운영팀 (031) 790-8841, 팩스 (031) 790-8397</span></p>
                    </div>

                    <div class="formDate mt40">
                        <p>2024년 05월 10일</p>
                    </div>

                    <div class="formBtm">
                        <p>선수주선소위원회위원장</p>
                    </div>

                    <!-- 파일 다운로드 -->
                    <div class="comFileList">
                        <ul class="fileGroup">
                            <li class="file download">
                                <dl>
                                    <dt>첨부파일</dt>
                                    <dd><a href="#" class="fileName">재능기부 훈련지 모집공고.png</a></dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
    
                    <div class="comOtherPage">
                        <ul class="otherGroup">
                            <li class="otherItem">
                                <b class="otherTitle">처리상태</b>
                                <p class="otherCont">반려</p>
                            </li>
                            <li class="otherItem">
                                <b class="otherTitle">반려사유</b>
                                <p class="otherCont">진단서 내용 없음 재 확인 요망</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="comGroupBtm">
                    <div class="alignL">
                        <button class="btn bGray">수정</button>
                        <button class="btn oGray">삭제</button>
                    </div>
                    <div class="alignR">
                        <button class="btn basic">목록</button>
                    </div>
                </div>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>