<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "경정 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/gnb.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    subTitle: "훈련신청",
                    url: "../../",
                }) %>

                <div class="comInfoBox">
                    <ul class="infoList">
                        <li class="item">
                            훈련신청 접수 마감은 <b class="c_blue">금요일 오후 5시로 마감</b>하며, 가급적 12시 이내로는 해당 페이지를 통해 신청하시고 
                            <b class="c_blue">12시 이후로는 전화로 신청</b>하시기 바랍니다.
                        </li>
                        <li class="item">훈련신청 후 처리상태가 <b class="c_blue">승인 또는 반려인 경우에는 수정 및 삭제가 불가능</b>하오니 이점 유의하시기 바라며, 
                            <b class="c_blue">처리상태 변경이후 추가요청은 관리자에게 문의</b>하시기 바랍니다.</li>
                    </ul>
                </div>

                <div class="comTable sizeM">
                    <div class="tableArea">
                        <table>
                            <caption></caption>
                            <colgroup>
                                <col style="width:230px;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:190px;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="t_01">훈련기간</th>
                                    <th class="t_02">훈련사유</th>
                                    <th class="t_01">훈련일수</th>
                                    <th class="t_02">출퇴근</th>
                                    <th class="t_01">맨토링</th>
                                    <th class="t_02">신청상태</th>
                                    <th class="t_01">상세</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2024-05-29 ~ 2024-05-30</td>
                                    <td>희망훈련</td>
                                    <td>2일</td>
                                    <td>예</td>
                                    <td>아니오</td>
                                    <td><b class="c_blue">신청</b></td>
                                    <td class="frm">
                                        <button class="btn basic">훈련신청 상세내역</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2024-05-29 ~ 2024-05-30</td>
                                    <td>부상훈련</td>
                                    <td>2일</td>
                                    <td>아니오</td>
                                    <td>아니오</td>
                                    <td><b>승인</b></td>
                                    <td class="frm">
                                        <button class="btn basic">훈련신청 상세내역</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2024-05-29 ~ 2024-05-30</td>
                                    <td>제재훈련</td>
                                    <td>2일</td>
                                    <td>예</td>
                                    <td>예</td>
                                    <td><b class="c_red">반려</b></td>
                                    <td class="frm">
                                        <button class="btn basic">훈련신청 상세내역</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2024-05-29 ~ 2024-05-30</td>
                                    <td>희망훈련</td>
                                    <td>2일</td>
                                    <td>예</td>
                                    <td>아니오</td>
                                    <td><b class="c_blue">신청</b></td>
                                    <td class="frm">
                                        <button class="btn basic">훈련신청 상세내역</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2024-05-29 ~ 2024-05-30</td>
                                    <td>부상훈련</td>
                                    <td>2일</td>
                                    <td>아니오</td>
                                    <td>아니오</td>
                                    <td><b>승인</b></td>
                                    <td class="frm">
                                        <button class="btn basic">훈련신청 상세내역</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2024-05-29 ~ 2024-05-30</td>
                                    <td>제재훈련</td>
                                    <td>2일</td>
                                    <td>예</td>
                                    <td>예</td>
                                    <td><b class="c_red">반려</b></td>
                                    <td class="frm">
                                        <button class="btn basic">훈련신청 상세내역</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2024-05-29 ~ 2024-05-30</td>
                                    <td>희망훈련</td>
                                    <td>2일</td>
                                    <td>예</td>
                                    <td>아니오</td>
                                    <td><b class="c_blue">신청</b></td>
                                    <td class="frm">
                                        <button class="btn basic">훈련신청 상세내역</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2024-05-29 ~ 2024-05-30</td>
                                    <td>부상훈련</td>
                                    <td>2일</td>
                                    <td>아니오</td>
                                    <td>아니오</td>
                                    <td><b>승인</b></td>
                                    <td class="frm">
                                        <button class="btn basic">훈련신청 상세내역</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2024-05-29 ~ 2024-05-30</td>
                                    <td>제재훈련</td>
                                    <td>2일</td>
                                    <td>예</td>
                                    <td>예</td>
                                    <td><b class="c_red">반려</b></td>
                                    <td class="frm">
                                        <button class="btn basic">훈련신청 상세내역</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2024-05-29 ~ 2024-05-30</td>
                                    <td>희망훈련</td>
                                    <td>2일</td>
                                    <td>예</td>
                                    <td>아니오</td>
                                    <td><b class="c_blue">신청</b></td>
                                    <td class="frm">
                                        <button class="btn basic">훈련신청 상세내역</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2024-05-29 ~ 2024-05-30</td>
                                    <td>부상훈련</td>
                                    <td>2일</td>
                                    <td>아니오</td>
                                    <td>아니오</td>
                                    <td><b>승인</b></td>
                                    <td class="frm">
                                        <button class="btn basic">훈련신청 상세내역</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2024-05-29 ~ 2024-05-30</td>
                                    <td>제재훈련</td>
                                    <td>2일</td>
                                    <td>예</td>
                                    <td>예</td>
                                    <td><b class="c_red">반려</b></td>
                                    <td class="frm">
                                        <button class="btn basic">훈련신청 상세내역</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2024-05-29 ~ 2024-05-30</td>
                                    <td>희망훈련</td>
                                    <td>2일</td>
                                    <td>예</td>
                                    <td>아니오</td>
                                    <td><b class="c_blue">신청</b></td>
                                    <td class="frm">
                                        <button class="btn basic">훈련신청 상세내역</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2024-05-29 ~ 2024-05-30</td>
                                    <td>부상훈련</td>
                                    <td>2일</td>
                                    <td>아니오</td>
                                    <td>아니오</td>
                                    <td><b>승인</b></td>
                                    <td class="frm">
                                        <button class="btn basic">훈련신청 상세내역</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2024-05-29 ~ 2024-05-30</td>
                                    <td>제재훈련</td>
                                    <td>2일</td>
                                    <td>예</td>
                                    <td>예</td>
                                    <td><b class="c_red">반려</b></td>
                                    <td class="frm">
                                        <button class="btn basic">훈련신청 상세내역</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="comGroupBtm">
                        <div class="alignR">
                            <button class="btn basic">신청하기</button>
                        </div>
                    </div>
                    <div class="comPaging">
                        <a class="start" href="#"></a>
                        <a class="prev" href="#"></a>
                        <ul class="numList">
                            <li><a href="#">1</a></li>
                            <li class="on"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                        <a class="next" href="#"></a>
                        <a class="end" href="#"></a>
                    </div>


                </div>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>
