<!-- Header -->
<%- include('../_ejs/top_boat.ejs', {
    title: "경정 커뮤니티",
    url: "../../"
}) %>

<div class="lytLogin">
    <div class="cptPrintAppliForm">
        <div class="formArea">
            <div class="formBox">
                <h1>2024년 경주참가신청서</h1>
                <div class="formCont">
                    서울올림픽기념 국민체육진흥공단에서 주선하는<br>
                    2024년도 경정에 아래와 같이 참가를 신청합니다.
                </div>
                <div class="formTable">
                    <table>
                        <caption></caption>
                        <colgroup>
                            <col style="width:22vw;">
                            <col style="width:auto;">
                            <col style="width:13vw;"> <!-- 20241221 수정 -->
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>신청인</th>
                                <td>류선재</td>
                                <td>
                                    <!-- 20241221 수정 -->
                                    <div class="signGroup">
                                        <span class="signBox">( 인 )</span>
                                        <span class="sign">류선재</span>
                                    </div>
                                    <!-- //20241221 수정 -->
                                </td>
                            </tr>
                            <tr>
                                <th>선수등록번호</th>
                                <td colspan="2">4325983475</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="text clarR">서명일시 : 2023-12-25  17:35:45</p>
                <div class="formBtm">서울올림픽기념국민체육진흥공단<br>
                    경주사업총괄본부 경주운영위원장 귀하</div>
            </div>
        </div>
    </div>
</div>

<!-- Bottom -->
<%- include('../_ejs/bottom_boat.ejs', { }) %>