<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "경정 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/gnb.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    subTitle: "참가신청서",
                    url: "../../",
                }) %>

                <div class="comTopPrint">
                    <div class="alignR">
                        <button class="btn bLine info">인쇄안내</button>
                        <button class="btn bLine print">인쇄</button>
                    </div>
                </div>

                <div class="cptAppliForm">
                    <div class="formTitle">
                        <h2>2024년 경주참가신청서</h2>
                    </div>

                    <div class="formCont">
                        <p>서울올림픽기념 국민체육진흥공단에서 주선하는 
                            2024년도 경정에 아래와 같이 참가를 신청합니다.</p>
                    </div>
                    
                    <div class="comTable">
                        <div class="tableArea">
                            <table>
                                <caption></caption>
                                <colgroup>
                                    <col style="width:35%;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>신청인</th>
                                        <td>류선재</td>
                                    </tr>
                                    <tr>
                                        <th>선수등록번호</th>
                                        <td>285286543882</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="text pointR">
                            서명일시 : 2023-12-25  17:35:45
                        </p>
                    </div>
                    
                    <div class="formBtm">
                        <p>서울올림픽기념국민체육진흥공단<br>
                        경주사업총괄본부 경주운영위원장 귀하</p>
                    </div>
                </div>

                <div class="comGroupBtm line">
                    <div class="alignR">
                        <button class="btn basic">목록</button>
                    </div>
                </div>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>
