<!-- Header -->
<%- include('../_ejs/top_boat.ejs', {
    title: "경정 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytWinPopup">
    <div class="popArea">
        <div class="popTitle">
            <div class="alignL">
                <h1>훈련기간 선택</h1>
            </div>
            <div class="alignR">
                <p>* 훈련기간을 선택해주세요.</p>
            </div>
        </div>
        <div class="popCont">
            <div class="comSltList">
                <ul class="list">
                    <li class="item">
                        <input type="radio" class="iptRdo" id="rdo001" name="rdo000" disabled>
                        <label class="iptLbl" for="rdo001" name="rdo000">
                            <span class="left">훈련기간 : 2024-06-11 ~2024-06-11 (2일)</span>
                            <span class="right">신청자 수 : <em>4</em>명</span>
                        </label>
                    </li>
                    <li class="item">
                        <input type="radio" class="iptRdo" id="rdo002" name="rdo000" disabled>
                        <label class="iptLbl" for="rdo002" name="rdo000">
                            <span class="left">훈련기간 : 2024-06-11 ~2024-06-11 (2일)</span>
                            <span class="right">신청자 수 : <em>4</em>명</span>
                        </label>
                    </li>
                    <li class="item">
                        <input type="radio" class="iptRdo" id="rdo003" name="rdo000">
                        <label class="iptLbl" for="rdo003" name="rdo000">
                            <span class="left">훈련기간 : 2024-06-11 ~2024-06-11 (2일)</span>
                            <span class="right">신청자 수 : <em>4</em>명</span>
                        </label>
                    </li>
                    <li class="item">
                        <input type="radio" class="iptRdo" id="rdo004" name="rdo000">
                        <label class="iptLbl" for="rdo004" name="rdo000">
                            <span class="left">훈련기간 : 2024-06-11 ~2024-06-11 (2일)</span>
                            <span class="right">신청자 수 : <em>4</em>명</span>
                        </label>
                    </li>
                    <li class="item">
                        <input type="radio" class="iptRdo" id="rdo005" name="rdo000">
                        <label class="iptLbl" for="rdo005" name="rdo000">
                            <span class="left">훈련기간 : 2024-06-11 ~2024-06-11 (2일)</span>
                            <span class="right">신청자 수 : <em>4</em>명</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Bottom -->
<%- include('../_ejs/bottom_boat.ejs', { }) %>
