<!-- Header -->
<%- include('../_ejs/top_boat.ejs', {
    title: "경정 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/gnb_boat.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top_boat.ejs', {
                    subTitle: "모터보트 추첨​",
                    url: "../../",
                }) %>

                <!-- 일반 선수 메시지 -->
                <div class="comRaffleTop">
                    <div class="searchArea">
                        <ul class="textList">
                            <li>일반선수입니다. 모터, 보트 추첨 시 <b>회색 영역을 선택</b>해 주시기 바랍니다. (<span class="blue">파란색</span>, <span class="red">붉은색</span> 영역은 선택이 불가합니다.)</li>
                        </ul>
                    </div>
                </div>

                <!-- 상위 선수 메시지 -->
                <div class="comRaffleTop">
                    <div class="searchArea">
                        <ul class="textList">
                            <li>상위선수입니다. 모터, 보트 추첨 시 <span class="blue">파란색 영역을 선택</span>해 주시기 바랍니다. (회색, <span class="red">붉은색</span> 영역은 선택이 불가합니다.)</li>
                        </ul>
                    </div>
                </div>


                <div class="cptRaffleBoat">
                    <div class="raffleArea">
                        <h3 class="raffleTitle">2024년 21회 모터 추첨 신청​</h3>
                        <div class="comInTitle">
                            <h4>선택된 모터 번호 : <span class="number">4-2</span></h4>
                        </div>
                        <div class="raffleChoice">
                            <div class="col">
                                <!-- addClass - active : 선택된 버튼, blue : 상위선수, red : 선택불가? -->
                                <button type="button" class="sltBtn blue" disabled>선택</button>
                                <button type="button" class="sltBtn red" disabled>선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                            </div>
                            <div class="col">
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn active">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                            </div>
                            <div class="col">
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                            </div>
                            <div class="col">
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn blue" disabled>선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn blue" disabled>선택</button>
                                <button type="button" class="sltBtn">선택</button>
                            </div>
                            <div class="col">
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn blue" disabled>선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                            </div>
                            <div class="col">
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn blue" disabled>선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn blue" disabled>선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                            </div>
                            <div class="col">
                                <button type="button" class="sltBtn blue" disabled>선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                                <button type="button" class="sltBtn">선택</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cptRaffleBoat">
                    <div class="raffleArea">
                        <h3 class="raffleTitle">2024년 21회 보트 추첨 신청​</h3>
                        <div class="comInTitle">
                            <h4>선택된 모터 번호 : <span class="number">4-2</span></h4>
                        </div>
                        <div class="raffleChoice">
                            <div class="col">
                                <!-- addClass - active : 선택된 버튼, blue : 상위선수, red : 선택불가? -->
                                <button type="button" class="sltBtn blue">선택</button>
                                <button type="button" class="sltBtn red" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                            </div>
                            <div class="col">
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn active">선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                            </div>
                            <div class="col">
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                            </div>
                            <div class="col">
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn blue">선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn blue">선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                            </div>
                            <div class="col">
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn blue">선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                            </div>
                            <div class="col">
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn blue">선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn blue">선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                            </div>
                            <div class="col">
                                <button type="button" class="sltBtn blue">선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                                <button type="button" class="sltBtn" disabled>선택</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comBtnInView">
                    <div class="btnArea">
                        <button class="btn basic" disabled="">모터보트 신청하기</button>
                        <button class="btn basic">모터보트 신청하기</button>
                    </div>
                </div>

                <div class="comGroupBtm line">
                    <div class="alignR">
                        <button class="btn basic">목록</button>
                    </div>
                </div>

                <div class="comInfoBox">
                    <div class="alignL">
                        <ul class="infoList">
                            <li class="item">
                                <b class="bold">사전입소 여부 확인 체크</b><br><br>
                                경정 2024년 24회차 사전입소를 신청을 원하시는 선수는 <b class="bold">[사전입소 신청하기]</b> 버튼을 눌러주세요.<br>
                                <span class="txtRed">※ 사전입소는 서울 및 경기지역 거주 선수를 제외한 원거리 선수만 신청이 가능합니다.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="alignR">
                        <div class="comGroupBtm">
                            <button class="btn basic">사전입소 신청하기​</button>
                        </div>
                    </div>
                </div>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer_boat.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom_boat.ejs', { }) %>
