<!-- Header -->
<%- include('../_ejs/top_boat.ejs', {
    title: "경정 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/gnb_boat.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top_boat.ejs', {
                    subTitle: "증명서 발급",
                    url: "../../",
                }) %>

                <div class="cptBoardList">
                    <table>
                        <caption></caption>
                        <colgroup>
                            <col style="width:auto;">
                            <col style="width:210px;">
                            <col style="width:210px;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">사업소득원천징수영수증</a>
                                        </div>
                                    </div>
                                </td>
                                <td>처리일자 2024-05-13 16:37:20.0</td>
                                <td class="right">신청일자 2024-05-13 16:37:20.0</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">선수등록증명서</a>
                                        </div>
                                    </div>
                                </td>
                                <td>처리일자 2024-05-13 16:37:20.0</td>
                                <td class="right">신청일자 2024-05-13 16:37:20.0</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">사업소득원천징수영수증</a>
                                        </div>
                                    </div>
                                </td>
                                <td>처리일자 2024-05-13 16:37:20.0</td>
                                <td class="right">신청일자 2024-05-13 16:37:20.0</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">사업소득원천징수영수증</a>
                                        </div>
                                    </div>
                                </td>
                                <td>처리일자 2024-05-13 16:37:20.0</td>
                                <td class="right">신청일자 2024-05-13 16:37:20.0</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">사업소득원천징수영수증</a>
                                        </div>
                                    </div>
                                </td>
                                <td>처리일자 2024-05-13 16:37:20.0</td>
                                <td class="right">신청일자 2024-05-13 16:37:20.0</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">사업소득원천징수영수증</a>
                                        </div>
                                    </div>
                                </td>
                                <td>처리일자 2024-05-13 16:37:20.0</td>
                                <td class="right">신청일자 2024-05-13 16:37:20.0</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">사업소득원천징수영수증</a>
                                        </div>
                                    </div>
                                </td>
                                <td>처리일자 2024-05-13 16:37:20.0</td>
                                <td class="right">신청일자 2024-05-13 16:37:20.0</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">사업소득원천징수영수증</a>
                                        </div>
                                    </div>
                                </td>
                                <td>처리일자 2024-05-13 16:37:20.0</td>
                                <td class="right">신청일자 2024-05-13 16:37:20.0</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">사업소득원천징수영수증</a>
                                        </div>
                                    </div>
                                </td>
                                <td>처리일자 2024-05-13 16:37:20.0</td>
                                <td class="right">신청일자 2024-05-13 16:37:20.0</td>
                            </tr>
                            <tr>
                                <td class="bdTitle left">
                                    <div class="link">
                                        <div class="title">
                                            <a href="#">사업소득원천징수영수증</a>
                                        </div>
                                    </div>
                                </td>
                                <td>처리일자 2024-05-13 16:37:20.0</td>
                                <td class="right">신청일자 2024-05-13 16:37:20.0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="comGroupBtm">
                    <div class="alignR">
                        <button class="btn basic">발급신청</button>
                    </div>
                </div>
                <div class="comPaging">
                    <a class="start" href="#"></a>
                    <a class="prev" href="#"></a>
                    <ul class="numList">
                        <li><a href="#">1</a></li>
                        <li class="on"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                    <a class="next" href="#"></a>
                    <a class="end" href="#"></a>
                </div>
                
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer_boat.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom_boat.ejs', { }) %>