<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "경정 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/gnb.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    subTitle: "등급변동안내",
                    url: "../../",
                }) %>

                <div class="comMyGrade">
                    <span class="textBox">나의 현재 등급</span>
                    <b>B2</b>
                </div>

                <div class="comTable">
                    <div class="tableArea">
                        <table>
                            <caption></caption>
                            <colgroup>
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="t_01">변경시점</th>
                                    <th class="t_02">변경 전 등급</th>
                                    <th class="t_01"><span class="c_blue">변경 후 등급</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2023-12</td>
                                    <td>A1</td>
                                    <td><span class="c_blue">A1</span></td>
                                </tr>
                                <tr>
                                    <td>2022-06</td>
                                    <td>B3</td>
                                    <td><span class="c_blue">A1</span></td>
                                </tr>
                                <tr>
                                    <td>2021-03</td>
                                    <td>B2</td>
                                    <td><span class="c_blue">B1</span></td>
                                </tr>
                                <tr>
                                    <td>2018-07</td>
                                    <td>B2</td>
                                    <td><span class="c_blue">B2</span></td>
                                </tr>
                                <tr>
                                    <td>2016-11</td>
                                    <td>B1</td>
                                    <td><span class="c_blue">B1</span></td>
                                </tr>
                                <tr>
                                    <td>2016-11</td>
                                    <td>B1</td>
                                    <td><span class="c_blue">B1</span></td>
                                </tr>
                                <tr>
                                    <td>2016-11</td>
                                    <td>B1</td>
                                    <td><span class="c_blue">B1</span></td>
                                </tr>
                                <tr>
                                    <td>2016-11</td>
                                    <td>B1</td>
                                    <td><span class="c_blue">B1</span></td>
                                </tr>
                                <tr>
                                    <td>2016-11</td>
                                    <td>B1</td>
                                    <td><span class="c_blue">B1</span></td>
                                </tr>
                                <tr>
                                    <td>2016-11</td>
                                    <td>B1</td>
                                    <td><span class="c_blue">B1</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>
