<!-- Header -->
<%- include('../_ejs/top_boat.ejs', {
    title: "경정 커뮤니티",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/gnb_boat.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top_boat.ejs', {
                    subTitle: "상금명세서",
                    url: "../../",
                }) %>

                <div class="comTopPrint">
                    <div class="alignR">
                        <button class="btn bLine excel" disabled>엑셀다운로드</button>
                        <button class="btn bLine print" disabled>인쇄</button>
                    </div>
                </div>

                <div class="comH2Title">
                    <div class="titleArea">
                        <h2>2024년 선수 상금명세서</h2>
                    </div>
                </div>

                <div class="comInTitle">
                    <h4>선수정보</h4>
                </div>

                <div class="comTable sizeM">
                    <div class="tableArea">
                        <table>
                            <caption></caption>
                            <colgroup>
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>선수등록번호</th>
                                    <td>12345678</td>
                                    <th>성명</th>
                                    <td>홍길동</td>
                                    <th>회차</th>
                                    <td>21회 1일 ~ 21회 2일</td>
                                    <th>입금은행</th>
                                    <td>신한</td>
                                    <th>계좌번호</th>
                                    <td>1234-567-8900</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="comInTitle">
                    <h4>지급총액</h4>
                    <div class="absR">
                        <span class="textBox">단위 : 원</span>
                    </div>
                </div>

                <div class="comTable sizeM">
                    <div class="tableArea">
                        <table>
                            <caption></caption>
                            <colgroup>
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>지급총액</th>
                                    <td>850,000</td>
                                    <th>공제총액</th>
                                    <td>28,050</td>
                                    <th>차인지급액</th>
                                    <td>821,950</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="comInTitle">
                    <h4>지급사항</h4>
                    <div class="absR">
                        <span class="textBox">단위 : 원</span>
                    </div>
                </div>

                <div class="comTable sizeM">
                    <div class="tableArea">
                        <table>
                            <caption></caption>
                            <colgroup>
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th class="t_01">경정장</th>
                                    <th class="t_02">회차</th>
                                    <th class="t_01">일차</th>
                                    <th class="t_02">경주번호</th>
                                    <th class="t_01">순위</th>
                                    <th class="t_02">성적상금</th>
                                    <th class="t_01">출전상금</th>
                                    <th class="t_02">출발무사고</th>
                                    <th class="t_01">출전준비금</th>
                                    <th class="t_02">안전상금</th>
                                    <th class="t_01">기타상금</th>
                                    <th class="t_02">합계</th>
                                </tr>
                                <tr>
                                    <td>미사리</td>
                                    <td>21</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>1,010,000</td>
                                    <td>150,000</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>1,290,000</td>
                                </tr>
                                <tr>
                                    <td>미사리</td>
                                    <td>21</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>1,010,000</td>
                                    <td>150,000</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>1,290,000</td>
                                </tr>
                                <tr>
                                    <td>미사리</td>
                                    <td>21</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>1,010,000</td>
                                    <td>150,000</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>1,290,000</td>
                                </tr>
                                <tr>
                                    <th>21회차 소계</th>
                                    <td>21</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>1,010,000</td>
                                    <td>150,000</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>1,290,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="comInTitle">
                    <h4>공제내역</h4>
                    <div class="absR">
                        <span class="textBox">단위 : 원</span>
                    </div>
                </div>

                <div class="comTable sizeM">
                    <div class="tableArea">
                        <table>
                            <caption></caption>
                            <colgroup>
                                <col style="width:auto;">
                                <col style="width:auto;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th class="t_01">소득세</th>
                                    <th class="t_02">주민세</th>
                                    <th class="t_01">식비</th>
                                </tr>
                                <tr>
                                    <td>25,500</td>
                                    <td>2,550</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th class="t_01">선수회비</th>
                                    <th class="t_02">선수연금</th>
                                    <th class="t_01">대출금</th>
                                </tr>
                                <tr>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="comGroupBtm line">
                    <div class="alignR">
                        <button class="btn basic">목록</button>
                    </div>
                </div>
                
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer_boat.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom_boat.ejs', { }) %>
