
:root {
  --key-blue01:#00aede;
  --key-text01:#00aede;
  --gray-bg01:#f8f8fe;
  --blue-txt01:#4053FF;
  --red-txt01:#FF0000;
}

/* ------------------------------ 텍스트 ------------------------------ */
.txtBlue {color: var(--key-blue01) !important;}
.txtKey {color: var(--key-text01) !important;}
.txtPurple {color: var(--blue-txt01) !important;}
.txtRed {color: var(--red-txt01) !important;}

/* Pretendard */
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 100 900;
  src: url("../../common/webfont/PretendardVariable.woff2") format("woff2");
    
}
  

* {box-sizing: border-box; font-family:'Pretendard', sans-serif; letter-spacing: 0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
input, textarea {-webkit-border-radius:0; -webkit-appearance:none;}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
html,body,th,td,input,select,textarea,button {font-size:16px;line-height:1.5; font-family:'Pretendard', sans-serif; color:#000} /* color값은 디자인가이드에 맞게사용 */
a {color:#000;text-decoration:none}
a:active, a:hover {text-decoration:none;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
caption {font-size: 0;}
@media print {
  html,body,th,td,input,select,textarea,button {font-size:14px;line-height:1.5; font-family:'Pretendard', sans-serif; color:#000}
}

input[type=radio] {width:1px; height:1px; font-size:0; opacity:0.01; overflow:hidden;}
input[type=checkbox] {width:1px; height:1px; font-size:0; opacity:0.01; overflow:hidden;}
input[type=file] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}

select {-moz-appearance:none; -webkit-appearance:none; appearance:none; -moz-border-radius:0; -webkit-border-radius: 0;border-radius: 0;  background:#fff url(../../common/images/icon_select.png) calc(100% - 9px) center no-repeat;}
select::-ms-expand {display:none}
label {font-size: 0;}

*:focus { outline: 1px solid #808CFC;}

.skip .quickBtn {display: block; width: 100%; height: 0px;background: #092473; font-size: rem(15px); color: #fff; overflow: hidden; text-align: center;}
.skip .quickBtn:focus {height:auto;}

.hide {font-size:0 !important; position:fixed; left:-5000px; top:0;}

body.noScrl {height:100vh; overflow:hidden;}

/* ------------------- margin ------------------- */
.mt0 {margin-top:0 !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}

.mb0 {margin-bottom:0 !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}

.mtmn5 {margin-top:-5px !important;}
.mtmn10 {margin-top:-10px !important;}
.mtmn15 {margin-top:-15px !important;}
.mtmn20 {margin-top:-20px !important;}
.mtmn30 {margin-top:-30px !important;}
.mtmn40 {margin-top:-40px !important;}
.mtmn50 {margin-top:-50px !important;}
.mbmn5 {margin-bottom:-5px !important;}
.mbmn10 {margin-bottom:-10px !important;}
.mbmn15 {margin-bottom:-15px !important;}
.mbmn20 {margin-bottom:-20px !important;}
.mbmn30 {margin-bottom:-30px !important;}
.mbmn40 {margin-bottom:-40px !important;}
.mbmn50 {margin-bottom:-50px !important;}

@include media('mobile'){
  .mo_mt0 {margin-top:0 !important;}
  .mo_mt5 {margin-top:5px !important;}
  .mo_mt10 {margin-top:10px !important;}
  .mo_mt15 {margin-top:15px !important;}
  .mo_mt20 {margin-top:20px !important;}
  .mo_mt30 {margin-top:30px !important;}
  .mo_mt40 {margin-top:40px !important;}
  .mo_mt50 {margin-top:50px !important;}

  .mo_mb0 {margin-bottom:0 !important;}
  .mo_mb5 {margin-bottom:5px !important;}
  .mo_mb10 {margin-bottom:10px !important;}
  .mo_mb15 {margin-bottom:15px !important;}
  .mo_mb20 {margin-bottom:20px !important;}
  .mo_mb30 {margin-bottom:30px !important;}
  .mo_mb40 {margin-bottom:40px !important;}
  .mo_mb50 {margin-bottom:50px !important;}
}
